In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from icecream import ic
from sklearn.preprocessing import LabelEncoder

plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

# 训练数据
train = pd.read_csv('./data/sales_train.csv')   # (2935849, 6)

# 测试数据
test = pd.read_csv('./data/test.csv')   # (214200, 3)

# 分析商品类别 item_categories添加 split type sub_type type_code sub_type_code 特征
itemcat = pd.read_csv('./data/item_categories.csv')
itemcat['split'] = itemcat.item_category_name.str.split('-')
itemcat['type'] = itemcat['split'].map(lambda x:x[0])
itemcat['sub_type'] = itemcat['split'].map(lambda x:x[1] if len(x) > 1 else x[0])
le = LabelEncoder()
itemcat['type_code'] = le.fit_transform(itemcat.type)
itemcat['sub_type_code'] = le.fit_transform(itemcat.sub_type)

# 合并[train,test],items
items = pd.read_csv('./data/items.csv')
items = items[['item_id', 'item_category_id']]
train = pd.merge(left=train, right=items, on='item_id')
# 对原数据没有改变
test = pd.merge(left=test, right=items, on='item_id')
test = test.sort_values(by='ID')
test = test.reset_index(drop=True)

# 删除训练数据中的异常数据
train = train[train.item_cnt_day <= 1000]
train = train[train.item_price <= 100000]

# 中位数填补item_price为负数的数据
price_df = train[train.item_id == 2973]
train.loc[train.item_price < 0, 'item_price'] = price_df.item_price.median()

# 构造item_cnt_month特征
train2 = train.groupby(['shop_id','item_id','date_block_num']).agg({'item_cnt_day': 'sum'}).reset_index()
train2 = train2.rename(columns={'item_cnt_day': 'item_cnt_month'})

# date_block到month的映射
month_lst = list(range(1, 13)) + list(range(1, 13)) + list(range(1, 11))
date_num_lst = list(range(0, 34))
dateBlock2month = dict(tuple(zip(date_num_lst, month_lst)))

# train2添加month特征
train2['month'] = train2['date_block_num'].map(dateBlock2month)

# test添加date_block_num，month特征
test['date_block_num'] = 34
test['month'] = 11

# train2添加item_category_id特征
train2 = pd.merge(left=train2, right=items, on='item_id', how='left')

# train2添加type_code,sub_type_code
itemcat_simple = itemcat[['item_category_id','type_code','sub_type_code']]
train2 = pd.merge(left=train2, right=itemcat_simple, on='item_category_id', how='left')

# test添加type_code,sub_type_code
test = pd.merge(left=test, right=itemcat_simple, on='item_category_id', how='left')

# 分析shops
shops = pd.read_csv('./data/shops.csv')
shops['split']=shops.shop_name.str.split(' ')
shops['shop_city'] = shops['split'].map(lambda x:x[0])
shops['shop_city_code'] = le.fit_transform(shops['shop_city'])

# train2,test添加shop_city_code特征
shops_simple = shops[['shop_id','shop_city_code']]
train2 = pd.merge(left=train2, right=shops_simple, on='shop_id', how='left')
test = pd.merge(left=test, right=shops_simple, on='shop_id', how='left')

In [76]:
train2

,shop_id,item_id,date_block_num,item_cnt_month,month,item_category_id,type_code,sub_type_code,shop_city_code
0,0,30,1,31.0,2,40,11,4,0
1,0,31,1,11.0,2,37,11,1,0
2,0,32,0,6.0,1,40,11,4,0
3,0,32,1,10.0,2,40,11,4,0
4,0,33,0,3.0,1,37,11,1,0
...,...,...,...,...,...,...,...,...,...
1609118,59,22164,27,2.0,4,37,11,1,31
1609119,59,22164,30,1.0,7,37,11,1,31
1609120,59,22167,9,1.0,10,49,12,36,31
1609121,59,22167,11,2.0,12,49,12,36,31
1609122,59,22167,17,1.0,6,49,12,36,31

In [82]:
train2[(train2.date_block_num == 0) & (train2.shop_id == 2) & (train2.item_id == 19)]

Empty DataFrame
Columns: [shop_id, item_id, date_block_num, item_cnt_month, month, item_category_id, type_code, sub_type_code, shop_city_code]
Index: []

In [86]:
train[(train.item_id == 19)]

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
497361,12.01.2013,0,25,19,28.0,1.0,40

In [84]:
train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
0,02.01.2013,0,59,22154,999.0,1.0,37
1,23.01.2013,0,24,22154,999.0,1.0,37
2,20.01.2013,0,27,22154,999.0,1.0,37
3,02.01.2013,0,25,22154,999.0,1.0,37
4,03.01.2013,0,25,22154,999.0,1.0,37
...,...,...,...,...,...,...,...
2935844,17.10.2015,33,25,8428,249.0,1.0,40
2935845,01.10.2015,33,25,7903,12198.0,1.0,15
2935846,29.10.2015,33,25,7610,2890.0,1.0,64
2935847,22.10.2015,33,25,7635,2100.0,1.0,64
2935848,01.10.2015,33,25,7640,4040.0,1.0,64

# 新的开始

In [20]:
X = train2.drop(['item_category_id'], axis=1)

In [21]:
X

,shop_id,item_id,date_block_num,item_cnt_month,month,type_code,sub_type_code,shop_city_code
0,0,30,1,31.0,2,11,4,0
1,0,31,1,11.0,2,11,1,0
2,0,32,0,6.0,1,11,4,0
3,0,32,1,10.0,2,11,4,0
4,0,33,0,3.0,1,11,1,0
...,...,...,...,...,...,...,...,...
1609118,59,22164,27,2.0,4,11,1,31
1609119,59,22164,30,1.0,7,11,1,31
1609120,59,22167,9,1.0,10,12,36,31
1609121,59,22167,11,2.0,12,12,36,31
1609122,59,22167,17,1.0,6,12,36,31

In [22]:
X_train = X[X.date_block_num < 33].drop('item_cnt_month', axis=1)
X_train

,shop_id,item_id,date_block_num,month,type_code,sub_type_code,shop_city_code
0,0,30,1,2,11,4,0
1,0,31,1,2,11,1,0
2,0,32,0,1,11,4,0
3,0,32,1,2,11,4,0
4,0,33,0,1,11,1,0
...,...,...,...,...,...,...,...
1609118,59,22164,27,4,11,1,31
1609119,59,22164,30,7,11,1,31
1609120,59,22167,9,10,12,36,31
1609121,59,22167,11,12,12,36,31
1609122,59,22167,17,6,12,36,31

In [23]:
y_train = X[X.date_block_num < 33]['item_cnt_month']
y_train

0          31.0
1          11.0
2           6.0
3          10.0
4           3.0
           ...
1609118     2.0
1609119     1.0
1609120     1.0
1609121     2.0
1609122     1.0
Name: item_cnt_month, Length: 1577592, dtype: float64

In [24]:
X_valid = X[X.date_block_num == 33].drop('item_cnt_month', axis=1)
X_valid

,shop_id,item_id,date_block_num,month,type_code,sub_type_code,shop_city_code
8113,2,31,33,10,11,1,1
8205,2,486,33,10,15,0,1
8254,2,787,33,10,12,36,1
8284,2,794,33,10,15,0,1
8367,2,968,33,10,11,4,1
...,...,...,...,...,...,...,...
1608997,59,22087,33,10,20,64,31
1609029,59,22088,33,10,20,64,31
1609046,59,22091,33,10,20,64,31
1609072,59,22100,33,10,12,19,31
1609075,59,22102,33,10,12,19,31

In [25]:
y_valid = X[X.date_block_num == 33]['item_cnt_month']
y_valid

8113       1.0
8205       3.0
8254       1.0
8284       1.0
8367       1.0
          ...
1608997    6.0
1609029    2.0
1609046    1.0
1609072    1.0
1609075    1.0
Name: item_cnt_month, Length: 31531, dtype: float64

# 建模

In [62]:
import lightgbm as lgb
from sklearn.preprocessing import StandardScaler

In [67]:
X_train

,shop_id,item_id,date_block_num,month,type_code,sub_type_code,shop_city_code
0,0,30,1,2,11,4,0
1,0,31,1,2,11,1,0
2,0,32,0,1,11,4,0
3,0,32,1,2,11,4,0
4,0,33,0,1,11,1,0
...,...,...,...,...,...,...,...
1609118,59,22164,27,4,11,1,31
1609119,59,22164,30,7,11,1,31
1609120,59,22167,9,10,12,36,31
1609121,59,22167,11,12,12,36,31
1609122,59,22167,17,6,12,36,31

In [68]:
X_valid

,shop_id,item_id,date_block_num,month,type_code,sub_type_code,shop_city_code
8113,2,31,33,10,11,1,1
8205,2,486,33,10,15,0,1
8254,2,787,33,10,12,36,1
8284,2,794,33,10,15,0,1
8367,2,968,33,10,11,4,1
...,...,...,...,...,...,...,...
1608997,59,22087,33,10,20,64,31
1609029,59,22088,33,10,20,64,31
1609046,59,22091,33,10,20,64,31
1609072,59,22100,33,10,12,19,31
1609075,59,22102,33,10,12,19,31

In [69]:
train_valid = pd.concat([X_train, X_valid], axis=0, ignore_index=True)
std_scaler = StandardScaler()
std_scaler.fit(train_valid)
X_train_std = std_scaler.transform(X_train)
X_valid_std = std_scaler.transform(X_valid)

In [73]:
train_data = lgb.Dataset(data=X_train, label=y_train)
train_data

In [74]:
valid_data = lgb.Dataset(data=X_valid, label=y_valid)
valid_data

In [75]:
params = {'num_leaves':50, 'num_trees':300, 'objective':'regression', 'metric': 'rmse', 'feature_fraction':1, 'max_depth': 20, 'min_data_in_leaf': 20}
lgb.train(params, train_data, valid_sets=[train_data, valid_data])

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.008365 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 468
[LightGBM] [Info] Number of data points in the train set: 1577592, number of used features: 7
[LightGBM] [Info] Start training from score 2.267474
[1]	training's rmse: 8.10124	valid_1's rmse: 6.71526
[2]	training's rmse: 7.77194	valid_1's rmse: 6.37013
[3]	training's rmse: 7.50281	valid_1's rmse: 6.14625
[4]	training's rmse: 7.27433	valid_1's rmse: 5.98006
[5]	training's rmse: 7.07974	valid_1's rmse: 5.92944
[6]	training's rmse: 6.91898	valid_1's rmse: 5.90579
[7]	training's rmse: 6.7687	valid_1's rmse: 5.82853
[8]	training's rmse: 6.64815	valid_1's rmse: 5.85972
[9]	training's rmse: 6.55016	valid_1's rmse: 5.87553
[10]	training's rmse: 6.46473	valid_1's rmse: 5.82034
[11]	training's rmse: 6.38805	valid_1's rmse: 5.90565
[12]	training's rmse: 6.3252	valid_1's rmse: 5.85421
[13]	training's rmse: 6.26693	valid_1's rmse: 5.81176
[14]	training's rmse: 6.21896	valid_1's rmse: 5.85225
[15]	training's rmse: 6.17779	valid_1's rmse: 5.86342
[16]	training's rmse: 6.11222	valid_1's rmse: 5.76316
[17]	training's rmse: 6.03773	valid_1's rmse: 5.70798
[18]	training's rmse: 5.99861	valid_1's rmse: 5.80729
[19]	training's rmse: 5.97127	valid_1's rmse: 5.79826
[20]	training's rmse: 5.90374	valid_1's rmse: 5.80474
[21]	training's rmse: 5.87925	valid_1's rmse: 5.83735
[22]	training's rmse: 5.84981	valid_1's rmse: 5.81537
[23]	training's rmse: 5.83376	valid_1's rmse: 5.79695
[24]	training's rmse: 5.81003	valid_1's rmse: 5.79213
[25]	training's rmse: 5.78936	valid_1's rmse: 5.91689
[26]	training's rmse: 5.75369	valid_1's rmse: 5.90267
[27]	training's rmse: 5.74516	valid_1's rmse: 5.89184
[28]	training's rmse: 5.7258	valid_1's rmse: 5.87071
[29]	training's rmse: 5.7106	valid_1's rmse: 5.85609
[30]	training's rmse: 5.68788	valid_1's rmse: 5.87884
[31]	training's rmse: 5.67826	valid_1's rmse: 5.83864
[32]	training's rmse: 5.66288	valid_1's rmse: 5.86088
[33]	training's rmse: 5.65058	valid_1's rmse: 5.86216
[34]	training's rmse: 5.63437	valid_1's rmse: 5.84274
[35]	training's rmse: 5.62609	valid_1's rmse: 5.83755
[36]	training's rmse: 5.6022	valid_1's rmse: 5.83728
[37]	training's rmse: 5.59179	valid_1's rmse: 5.80909
[38]	training's rmse: 5.58507	valid_1's rmse: 5.83521
[39]	training's rmse: 5.56658	valid_1's rmse: 5.83499
[40]	training's rmse: 5.56044	valid_1's rmse: 5.84248
[41]	training's rmse: 5.55274	valid_1's rmse: 5.81949
[42]	training's rmse: 5.54384	valid_1's rmse: 5.81929
[43]	training's rmse: 5.5377	valid_1's rmse: 5.84542
[44]	training's rmse: 5.53227	valid_1's rmse: 5.8448
[45]	training's rmse: 5.52671	valid_1's rmse: 5.84235
[46]	training's rmse: 5.51876	valid_1's rmse: 5.82771
[47]	training's rmse: 5.5111	valid_1's rmse: 5.82601
[48]	training's rmse: 5.50535	valid_1's rmse: 5.81825
[49]	training's rmse: 5.50011	valid_1's rmse: 5.80314
[50]	training's rmse: 5.48746	valid_1's rmse: 5.79497
[51]	training's rmse: 5.47961	valid_1's rmse: 5.76056
[52]	training's rmse: 5.47341	valid_1's rmse: 5.7597
[53]	training's rmse: 5.46539	valid_1's rmse: 5.75923
[54]	training's rmse: 5.46102	valid_1's rmse: 5.75359
[55]	training's rmse: 5.45725	valid_1's rmse: 5.75224
[56]	training's rmse: 5.45186	valid_1's rmse: 5.75127
[57]	training's rmse: 5.44533	valid_1's rmse: 5.75065
[58]	training's rmse: 5.44155	valid_1's rmse: 5.75058
[59]	training's rmse: 5.43831	valid_1's rmse: 5.75048
[60]	training's rmse: 5.42782	valid_1's rmse: 5.73091
[61]	training's rmse: 5.42101	valid_1's rmse: 5.70354
[62]	training's rmse: 5.41587	valid_1's rmse: 5.69886
[63]	training's rmse: 5.40368	valid_1's rmse: 5.67731
[64]	training's rmse: 5.39799	valid_1's rmse: 5.70523
[65]	training's rmse: 5.39011	valid_1's rmse: 5.6978
[66]	training's rmse: 5.3862	valid_1's rmse: 5.69837
[67]	training's rmse: 5.38034	valid_1's rmse: 5.69649
[68]	training's rmse: 5.3778	valid_1's rmse: 5.69623
[69]	training's rmse: 5.36927	valid_1's rmse: 5.69292
[70]	training's rmse: 5.36431	valid_1's rmse: 5.69071
[71]	training's rmse: 5.35929	valid_1's rmse: 5.66356
[72]	training's rmse: 5.35586	valid_1's rmse: 5.66402
[73]	training's rmse: 5.34664	valid_1's rmse: 5.64462
[74]	training's rmse: 5.34124	valid_1's rmse: 5.64382
[75]	training's rmse: 5.33474	valid_1's rmse: 5.63776
[76]	training's rmse: 5.32884	valid_1's rmse: 5.63735
[77]	training's rmse: 5.32405	valid_1's rmse: 5.63247
[78]	training's rmse: 5.32183	valid_1's rmse: 5.63239
[79]	training's rmse: 5.3195	valid_1's rmse: 5.63204
[80]	training's rmse: 5.31801	valid_1's rmse: 5.63203
[81]	training's rmse: 5.31535	valid_1's rmse: 5.6329
[82]	training's rmse: 5.31211	valid_1's rmse: 5.66241
[83]	training's rmse: 5.30265	valid_1's rmse: 5.65849
[84]	training's rmse: 5.30057	valid_1's rmse: 5.6583
[85]	training's rmse: 5.29939	valid_1's rmse: 5.65828
[86]	training's rmse: 5.29407	valid_1's rmse: 5.6585
[87]	training's rmse: 5.28795	valid_1's rmse: 5.63159
[88]	training's rmse: 5.28242	valid_1's rmse: 5.61177
[89]	training's rmse: 5.27701	valid_1's rmse: 5.6322
[90]	training's rmse: 5.26953	valid_1's rmse: 5.63033
[91]	training's rmse: 5.26608	valid_1's rmse: 5.62961
[92]	training's rmse: 5.25858	valid_1's rmse: 5.66156
[93]	training's rmse: 5.25653	valid_1's rmse: 5.66099
[94]	training's rmse: 5.25132	valid_1's rmse: 5.64247
[95]	training's rmse: 5.24593	valid_1's rmse: 5.63283
[96]	training's rmse: 5.24334	valid_1's rmse: 5.63304
[97]	training's rmse: 5.24139	valid_1's rmse: 5.6321
[98]	training's rmse: 5.23897	valid_1's rmse: 5.61154
[99]	training's rmse: 5.23818	valid_1's rmse: 5.61123
[100]	training's rmse: 5.23247	valid_1's rmse: 5.60357
[101]	training's rmse: 5.22902	valid_1's rmse: 5.60295
[102]	training's rmse: 5.22396	valid_1's rmse: 5.60139
[103]	training's rmse: 5.22244	valid_1's rmse: 5.60058
[104]	training's rmse: 5.22109	valid_1's rmse: 5.60067
[105]	training's rmse: 5.21698	valid_1's rmse: 5.60079
[106]	training's rmse: 5.21335	valid_1's rmse: 5.60074
[107]	training's rmse: 5.21086	valid_1's rmse: 5.60051
[108]	training's rmse: 5.20872	valid_1's rmse: 5.59996
[109]	training's rmse: 5.20134	valid_1's rmse: 5.5851
[110]	training's rmse: 5.19942	valid_1's rmse: 5.58457
[111]	training's rmse: 5.19403	valid_1's rmse: 5.60351
[112]	training's rmse: 5.18985	valid_1's rmse: 5.58853
[113]	training's rmse: 5.18653	valid_1's rmse: 5.58748
[114]	training's rmse: 5.18458	valid_1's rmse: 5.58864
[115]	training's rmse: 5.18273	valid_1's rmse: 5.58564
[116]	training's rmse: 5.17766	valid_1's rmse: 5.58212
[117]	training's rmse: 5.17696	valid_1's rmse: 5.58181
[118]	training's rmse: 5.17133	valid_1's rmse: 5.56528
[119]	training's rmse: 5.16914	valid_1's rmse: 5.56545
[120]	training's rmse: 5.16796	valid_1's rmse: 5.56544
[121]	training's rmse: 5.16488	valid_1's rmse: 5.54988
[122]	training's rmse: 5.15924	valid_1's rmse: 5.53227
[123]	training's rmse: 5.1525	valid_1's rmse: 5.52643
[124]	training's rmse: 5.14881	valid_1's rmse: 5.53284
[125]	training's rmse: 5.14586	valid_1's rmse: 5.53158
[126]	training's rmse: 5.14288	valid_1's rmse: 5.53366
[127]	training's rmse: 5.14181	valid_1's rmse: 5.53353
[128]	training's rmse: 5.14038	valid_1's rmse: 5.53245
[129]	training's rmse: 5.13934	valid_1's rmse: 5.53192
[130]	training's rmse: 5.13622	valid_1's rmse: 5.5215
[131]	training's rmse: 5.13285	valid_1's rmse: 5.50839
[132]	training's rmse: 5.13029	valid_1's rmse: 5.50834
[133]	training's rmse: 5.12675	valid_1's rmse: 5.51086
[134]	training's rmse: 5.12573	valid_1's rmse: 5.51083
[135]	training's rmse: 5.12465	valid_1's rmse: 5.51081
[136]	training's rmse: 5.12354	valid_1's rmse: 5.51081
[137]	training's rmse: 5.12085	valid_1's rmse: 5.50269
[138]	training's rmse: 5.11915	valid_1's rmse: 5.5219
[139]	training's rmse: 5.11691	valid_1's rmse: 5.52176
[140]	training's rmse: 5.1154	valid_1's rmse: 5.52196
[141]	training's rmse: 5.11113	valid_1's rmse: 5.52436
[142]	training's rmse: 5.1097	valid_1's rmse: 5.52434
[143]	training's rmse: 5.10832	valid_1's rmse: 5.52424
[144]	training's rmse: 5.10585	valid_1's rmse: 5.52584
[145]	training's rmse: 5.10062	valid_1's rmse: 5.51934

[146]	training's rmse: 5.09801	valid_1's rmse: 5.50991
[147]	training's rmse: 5.09721	valid_1's rmse: 5.50952
[148]	training's rmse: 5.09332	valid_1's rmse: 5.51864
[149]	training's rmse: 5.09095	valid_1's rmse: 5.51761
[150]	training's rmse: 5.08971	valid_1's rmse: 5.51839
[151]	training's rmse: 5.08749	valid_1's rmse: 5.52202
[152]	training's rmse: 5.08563	valid_1's rmse: 5.52326
[153]	training's rmse: 5.08494	valid_1's rmse: 5.52241
[154]	training's rmse: 5.08391	valid_1's rmse: 5.52244
[155]	training's rmse: 5.08274	valid_1's rmse: 5.52242
[156]	training's rmse: 5.0812	valid_1's rmse: 5.52226
[157]	training's rmse: 5.07869	valid_1's rmse: 5.52536
[158]	training's rmse: 5.07583	valid_1's rmse: 5.52694
[159]	training's rmse: 5.0728	valid_1's rmse: 5.51204
[160]	training's rmse: 5.06882	valid_1's rmse: 5.49767
[161]	training's rmse: 5.06838	valid_1's rmse: 5.49682
[162]	training's rmse: 5.06614	valid_1's rmse: 5.49653
[163]	training's rmse: 5.06414	valid_1's rmse: 5.49634
[164]	training's rmse: 5.06355	valid_1's rmse: 5.49433
[165]	training's rmse: 5.06062	valid_1's rmse: 5.49097
[166]	training's rmse: 5.05941	valid_1's rmse: 5.49092
[167]	training's rmse: 5.0585	valid_1's rmse: 5.48569
[168]	training's rmse: 5.05621	valid_1's rmse: 5.47281
[169]	training's rmse: 5.05587	valid_1's rmse: 5.47226
[170]	training's rmse: 5.0548	valid_1's rmse: 5.47225
[171]	training's rmse: 5.05335	valid_1's rmse: 5.47081
[172]	training's rmse: 5.05212	valid_1's rmse: 5.47207
[173]	training's rmse: 5.04948	valid_1's rmse: 5.46253
[174]	training's rmse: 5.04422	valid_1's rmse: 5.46616
[175]	training's rmse: 5.04281	valid_1's rmse: 5.45839
[176]	training's rmse: 5.04201	valid_1's rmse: 5.45819
[177]	training's rmse: 5.04156	valid_1's rmse: 5.45763
[178]	training's rmse: 5.04092	valid_1's rmse: 5.45761
[179]	training's rmse: 5.03925	valid_1's rmse: 5.45796
[180]	training's rmse: 5.03821	valid_1's rmse: 5.45741
[181]	training's rmse: 5.03786	valid_1's rmse: 5.45734
[182]	training's rmse: 5.03661	valid_1's rmse: 5.4572
[183]	training's rmse: 5.03558	valid_1's rmse: 5.45812
[184]	training's rmse: 5.03352	valid_1's rmse: 5.44157
[185]	training's rmse: 5.03011	valid_1's rmse: 5.43127
[186]	training's rmse: 5.0291	valid_1's rmse: 5.43121
[187]	training's rmse: 5.02815	valid_1's rmse: 5.4312
[188]	training's rmse: 5.02712	valid_1's rmse: 5.43213
[189]	training's rmse: 5.02557	valid_1's rmse: 5.43212
[190]	training's rmse: 5.02286	valid_1's rmse: 5.43278
[191]	training's rmse: 5.01994	valid_1's rmse: 5.42082
[192]	training's rmse: 5.01545	valid_1's rmse: 5.41338
[193]	training's rmse: 5.01398	valid_1's rmse: 5.41322
[194]	training's rmse: 5.01302	valid_1's rmse: 5.41319
[195]	training's rmse: 5.01247	valid_1's rmse: 5.41319
[196]	training's rmse: 5.01009	valid_1's rmse: 5.39417
[197]	training's rmse: 5.00873	valid_1's rmse: 5.39216
[198]	training's rmse: 5.00741	valid_1's rmse: 5.38086
[199]	training's rmse: 5.00645	valid_1's rmse: 5.38121
[200]	training's rmse: 5.00557	valid_1's rmse: 5.38082
[201]	training's rmse: 5.00384	valid_1's rmse: 5.38081
[202]	training's rmse: 5.00324	valid_1's rmse: 5.38081
[203]	training's rmse: 5.00099	valid_1's rmse: 5.36816
[204]	training's rmse: 5.00021	valid_1's rmse: 5.36816
[205]	training's rmse: 4.99967	valid_1's rmse: 5.36813
[206]	training's rmse: 4.99788	valid_1's rmse: 5.36962
[207]	training's rmse: 4.99659	valid_1's rmse: 5.36917
[208]	training's rmse: 4.99612	valid_1's rmse: 5.36884
[209]	training's rmse: 4.99577	valid_1's rmse: 5.36839
[210]	training's rmse: 4.99493	valid_1's rmse: 5.3679
[211]	training's rmse: 4.99454	valid_1's rmse: 5.36743
[212]	training's rmse: 4.99243	valid_1's rmse: 5.36412
[213]	training's rmse: 4.99074	valid_1's rmse: 5.3637
[214]	training's rmse: 4.98925	valid_1's rmse: 5.36368
[215]	training's rmse: 4.9879	valid_1's rmse: 5.36181
[216]	training's rmse: 4.98688	valid_1's rmse: 5.36173
[217]	training's rmse: 4.98537	valid_1's rmse: 5.35853
[218]	training's rmse: 4.9828	valid_1's rmse: 5.35074
[219]	training's rmse: 4.9815	valid_1's rmse: 5.35351
[220]	training's rmse: 4.98035	valid_1's rmse: 5.34393
[221]	training's rmse: 4.97922	valid_1's rmse: 5.34461
[222]	training's rmse: 4.97765	valid_1's rmse: 5.34757
[223]	training's rmse: 4.97681	valid_1's rmse: 5.34756
[224]	training's rmse: 4.97473	valid_1's rmse: 5.33392
[225]	training's rmse: 4.97412	valid_1's rmse: 5.33249
[226]	training's rmse: 4.97299	valid_1's rmse: 5.33095
[227]	training's rmse: 4.97119	valid_1's rmse: 5.32795
[228]	training's rmse: 4.97047	valid_1's rmse: 5.32764
[229]	training's rmse: 4.96908	valid_1's rmse: 5.33713
[230]	training's rmse: 4.96882	valid_1's rmse: 5.33722
[231]	training's rmse: 4.96801	valid_1's rmse: 5.33723
[232]	training's rmse: 4.96659	valid_1's rmse: 5.34009
[233]	training's rmse: 4.96579	valid_1's rmse: 5.33941
[234]	training's rmse: 4.96426	valid_1's rmse: 5.33941
[235]	training's rmse: 4.96273	valid_1's rmse: 5.3392
[236]	training's rmse: 4.96162	valid_1's rmse: 5.33946
[237]	training's rmse: 4.9608	valid_1's rmse: 5.33944
[238]	training's rmse: 4.95915	valid_1's rmse: 5.33283
[239]	training's rmse: 4.95732	valid_1's rmse: 5.33092
[240]	training's rmse: 4.95588	valid_1's rmse: 5.33072
[241]	training's rmse: 4.95493	valid_1's rmse: 5.33092
[242]	training's rmse: 4.95263	valid_1's rmse: 5.32894
[243]	training's rmse: 4.95228	valid_1's rmse: 5.3286
[244]	training's rmse: 4.95103	valid_1's rmse: 5.32848
[245]	training's rmse: 4.95089	valid_1's rmse: 5.32848
[246]	training's rmse: 4.94854	valid_1's rmse: 5.32987
[247]	training's rmse: 4.9479	valid_1's rmse: 5.33029
[248]	training's rmse: 4.94757	valid_1's rmse: 5.33034
[249]	training's rmse: 4.94413	valid_1's rmse: 5.3424
[250]	training's rmse: 4.94283	valid_1's rmse: 5.34357
[251]	training's rmse: 4.94125	valid_1's rmse: 5.34561
[252]	training's rmse: 4.93951	valid_1's rmse: 5.34966
[253]	training's rmse: 4.93582	valid_1's rmse: 5.34285
[254]	training's rmse: 4.93388	valid_1's rmse: 5.37576
[255]	training's rmse: 4.93346	valid_1's rmse: 5.37574
[256]	training's rmse: 4.93206	valid_1's rmse: 5.37719
[257]	training's rmse: 4.92908	valid_1's rmse: 5.37022
[258]	training's rmse: 4.92766	valid_1's rmse: 5.3629
[259]	training's rmse: 4.92733	valid_1's rmse: 5.36313
[260]	training's rmse: 4.92495	valid_1's rmse: 5.37399
[261]	training's rmse: 4.92412	valid_1's rmse: 5.37197
[262]	training's rmse: 4.92354	valid_1's rmse: 5.37201
[263]	training's rmse: 4.92324	valid_1's rmse: 5.37182
[264]	training's rmse: 4.92137	valid_1's rmse: 5.36427
[265]	training's rmse: 4.92061	valid_1's rmse: 5.36505
[266]	training's rmse: 4.91979	valid_1's rmse: 5.36568
[267]	training's rmse: 4.91862	valid_1's rmse: 5.36613
[268]	training's rmse: 4.91773	valid_1's rmse: 5.36566
[269]	training's rmse: 4.91672	valid_1's rmse: 5.35785
[270]	training's rmse: 4.91646	valid_1's rmse: 5.35754
[271]	training's rmse: 4.91438	valid_1's rmse: 5.35918
[272]	training's rmse: 4.91012	valid_1's rmse: 5.35181
[273]	training's rmse: 4.90682	valid_1's rmse: 5.35973
[274]	training's rmse: 4.90449	valid_1's rmse: 5.35859
[275]	training's rmse: 4.90376	valid_1's rmse: 5.35829
[276]	training's rmse: 4.90285	valid_1's rmse: 5.35971
[277]	training's rmse: 4.90247	valid_1's rmse: 5.35929
[278]	training's rmse: 4.90177	valid_1's rmse: 5.35904
[279]	training's rmse: 4.90067	valid_1's rmse: 5.36118
[280]	training's rmse: 4.90004	valid_1's rmse: 5.36097
[281]	training's rmse: 4.89983	valid_1's rmse: 5.36081
[282]	training's rmse: 4.89924	valid_1's rmse: 5.36029
[283]	training's rmse: 4.89842	valid_1's rmse: 5.35964
[284]	training's rmse: 4.89792	valid_1's rmse: 5.36034
[285]	training's rmse: 4.89616	valid_1's rmse: 5.35127
[286]	training's rmse: 4.89555	valid_1's rmse: 5.35127
[287]	training's rmse: 4.89521	valid_1's rmse: 5.35131
[288]	training's rmse: 4.89423	valid_1's rmse: 5.35198
[289]	training's rmse: 4.89367	valid_1's rmse: 5.35171
[290]	training's rmse: 4.89242	valid_1's rmse: 5.35287
[291]	training's rmse: 4.89163	valid_1's rmse: 5.35113
[292]	training's rmse: 4.89038	valid_1's rmse: 5.36069
[293]	training's rmse: 4.89021	valid_1's rmse: 5.36016
[294]	training's rmse: 4.88909	valid_1's rmse: 5.36302
[295]	training's rmse: 4.88856	valid_1's rmse: 5.3614
[296]	training's rmse: 4.88801	valid_1's rmse: 5.3611
[297]	training's rmse: 4.88704	valid_1's rmse: 5.37479
[298]	training's rmse: 4.88652	valid_1's rmse: 5.37479
[299]	training's rmse: 4.8861	valid_1's rmse: 5.37478
[300]	training's rmse: 4.8854	valid_1's rmse: 5.37442