In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from icecream import ic
from sklearn.preprocessing import LabelEncoder
import time
from itertools import product
from icecream import ic


plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

sales_train = pd.read_csv('./data/sales_train.csv')
test = pd.read_csv('./data/test.csv')   # (214200, 3)

# 计算每个商品每个月的销售量，假如某个商品在某个月没有数据，则填充0（即这个月的销售量为0）
sales_by_item_id = sales_train.pivot_table(index=['item_id'], values=['item_cnt_day'], columns='date_block_num', aggfunc=np.sum, fill_value=0).reset_index()
sales_by_item_id.columns = sales_by_item_id.columns.droplevel().map(str)   # 去掉第一层索引
sales_by_item_id.columns.values[0] = 'item_id'
sales_by_item_id = sales_by_item_id.rename_axis(None, axis=1)

# 获取最近6个月销售量为0的数据
# six_zero = sales_by_item_id[(sales_by_item_id['28'] == 0) & (sales_by_item_id['29'] == 0) & (sales_by_item_id['30'] == 0) & (sales_by_item_id['31'] == 0) & (sales_by_item_id['32'] == 0) & (sales_by_item_id['33'] == 0)]
# six_zero_item_id = list(six_zero['item_id'].values)   # item_id列表
# test.loc[test.item_id.isin(six_zero_item_id), 'item_cnt_month'] = 0  # 将test数据中（最近六个月销量为0）的数据月销量设为0，有7812个

# 计算每个商店每个月的销量
sales_by_shop_id = sales_train.pivot_table(index=['shop_id'], values=['item_cnt_day'], aggfunc=np.sum, fill_value=0, columns='date_block_num').reset_index()
sales_by_shop_id.columns = sales_by_shop_id.columns.droplevel().map(str)    # 将两层column转化为一层column,保留下层column
sales_by_shop_id.columns.values[0] = 'shop_id'
sales_by_shop_id = sales_by_shop_id.rename_axis(None, axis=1)   # 将列方向的轴重命名为none

In [2]:
sales_by_shop_id

,shop_id,0,1,2,3,4,5,6,7,8,...,24,25,26,27,28,29,30,31,32,33
0,0,5578,6127,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2947,3364,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1146,488,753,583,553,832,807,875,945,...,987,907,762,859,843,804,785,942,822,727
3,3,767,798,959,647,710,784,721,890,1026,...,977,738,741,740,731,672,535,666,745,613
4,4,2114,2025,2060,285,1211,1464,1378,1713,1536,...,1188,980,978,899,893,793,842,947,732,831
5,5,0,877,1355,1008,1110,1393,1265,1510,1298,...,1404,1101,1109,1054,1012,954,991,1294,1092,1052
6,6,3686,4007,4519,3168,3022,3847,3360,3702,4208,...,2328,2329,1981,1998,1748,1539,1484,1575,1725,1802
7,7,2495,2513,2460,1540,1647,2085,2031,2397,2599,...,2084,1847,1430,1340,1217,1235,1327,1409,1287,1212
8,8,1463,1156,977,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,0,0,0,0,0,0,0,0,0,...,0,0,0,-1,0,0,0,0,0,3186
10,10,935,1026,1017,756,683,764,800,755,1027,...,628,0,565,594,466,441,449,442,519,428
11,11,0,0,0,0,0,0,0,0,0,...,0,572,0,0,0,0,0,0,0,0
12,12,842,1209,1419,1364,917,1710,723,1599,2032,...,2832,1854,1886,3244,3949,1830,1554,1471,5215,4181
13,13,1178,1036,1245,1018,1104,1358,1094,944,1153,...,0,0,0,0,0,0,0,0,0,0
14,14,1777,1795,1893,1247,1489,1863,1709,2216,796,...,1233,1007,1002,1055,933,1019,954,1061,1094,1002
15,15,2724,2746,2835,2168,1931,2419,2599,2536,2790,...,2046,1528,1384,1364,1277,1332,1316,1360,1267,1243
16,16,2978,2614,3088,2118,2261,3075,2898,2457,1924,...,1698,1336,1187,1110,1187,1038,1114,1231,1067,963
17,17,0,0,0,0,0,906,1044,1306,1459,...,689,0,0,0,0,0,0,0,0,0
18,18,2856,3341,3551,2421,2944,3144,2676,1778,2774,...,1337,1420,1435,1515,1434,1212,987,1184,1404,1211
19,19,3038,2834,3020,2291,2089,2638,2459,2675,2801,...,2108,1779,1547,1562,1459,1300,1440,1533,1231,1449
20,20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2611
21,21,1495,1854,2233,1846,1646,1912,1860,2061,2486,...,1923,1839,1687,2053,1717,1844,1741,1622,1900,1912
22,22,1924,2447,2588,2297,1755,2243,1903,2017,2518,...,1255,1301,1547,1664,1357,1102,993,1044,1432,1336
23,23,1948,1941,2118,1698,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,24,1768,1782,2014,787,1967,2599,2377,2304,3072,...,1750,1309,1284,1297,1137,882,1014,1186,1492,1227
25,25,8215,7934,9732,7867,6860,8478,7361,7784,9251,...,6611,5566,6007,6135,5712,5093,4676,4675,5893,6247
26,26,2331,2597,3036,2381,2148,2661,2163,2452,3206,...,1715,1339,1486,1527,1358,953,1007,1189,1553,1409
27,27,5548,4546,5454,3946,3518,275,4148,4925,4981,...,5660,3839,3634,3518,3786,3357,2478,0,-1,0
28,28,7057,5438,6918,4910,5703,7056,6739,7521,6753,...,6879,4234,4139,3686,3784,3921,3612,3749,2979,3018
29,29,2820,2834,3151,2252,2345,2803,2205,2073,2832,...,1564,1273,1239,1216,880,0,0,0,0,0
30,30,2978,2717,3026,2379,2304,2794,2438,2799,3023,...,1842,745,0,0,0,0,0,0,0,0
31,31,10173,11160,12670,9621,9423,10072,9500,9882,11204,...,8815,7404,7294,7341,6327,6160,5987,5714,6505,6112
32,32,1238,1494,1890,1364,1209,1493,93,0,0,...,0,0,0,0,0,0,0,0,0,0
33,33,0,0,0,0,0,0,0,0,0,...,1006,792,505,-1,0,0,0,0,0,0
34,34,0,0,0,0,0,0,0,0,0,...,473,390,431,424,409,385,460,484,420,383
35,35,2127,2205,2568,1845,2048,2280,2041,2391,2473,...,1993,1550,1641,1570,1537,1227,1299,1653,1548,1418
36,36,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,330
37,37,2399,2216,2629,1946,2019,1829,1293,1472,1666,...,1144,988,990,1109,979,804,1041,1248,978,833
38,38,1704,1670,2009,1375,1337,1539,1453,1895,1666,...,1441,1403,1543,1338,1257,1141,1354,1781,1345,1110
39,39,0,0,0,0,0,0,0,0,0,...,888,773,873,754,840,642,638,910,907,997
40,40,0,0,0,0,0,0,0,0,0,...,443,0,0,0,0,0,0,0,0,0
41,41,1998,1856,1816,1387,1597,2185,1997,2149,2146,...,1314,925,848,725,931,680,737,892,686,742
42,42,3991,3965,4953,3978,3594,4349,3801,4035,5093,...,4125,4063,4133,4648,4343,3618,3578,3832,4237,4491
43,43,1759,2033,2504,1880,1624,2060,1632,1849,2768,...,1340,0,0,0,0,0,0,0,0,0
44,44,1708,1823,2131,1628,1379,1666,1487,1610,1849,...,932,917,913,887,820,619,678,769,759,779
45,45,1634,1530,1883,1253,1333,1785,1507,1649,1725,...,980,796,740,862,762,622,675,710,654,702
46,46,3363,2660,3103,2160,2522,2865,2966,3315,2963,...,2100,1627,1579,1427,1464,1537,1642,1670,1357,1320
47,47,2115,1824,1977,1540,1724,1654,1329,1610,1742,...,2410,2131,2100,1813,1879,1740,1700,2003,1926,1776
48,48,0,0,0,0,0,0,0,0,0,...,1413,1103,1171,1081,1110,990,1102,1308,1101,1111
49,49,0,0,0,0,0,0,0,0,0,...,1138,753,679,542,692,789,856,966,567,648
50,50,3406,3054,3610,2740,2839,3761,3235,3718,3655,...,1437,1052,981,895,1073,900,1126,1081,906,949
51,51,2748,2284,2605,1945,2243,2200,2273,2142,1903,...,976,660,545,494,758,659,748,916,624,0
52,52,1812,1737,2034,1446,1482,1815,1616,1772,2125,...,1247,1117,1182,1152,894,820,828,932,1086,847
53,53,2055,1906,2365,1515,1767,2125,1975,2367,2440,...,1747,1342,1378,1322,1206,1078,1257,1318,1229,1061
54,54,9386,8075,9488,6726,7006,8101,7225,7792,7827,...,6043,4221,4625,732,0,0,0,0,0,0
55,55,0,0,0,0,852,728,795,719,812,...,6429,2551,2769,3422,2117,1909,1658,1976,6867,1972
56,56,3238,2655,3099,2153,2140,3105,3294,3311,2829,...,2444,1691,1393,1237,1315,1566,1491,1604,1194,1263
57,57,0,0,6586,5493,5233,5987,5827,5413,5213,...,4143,3540,3113,2860,2408,2440,2352,2780,2266,2316
58,58,0,0,3773,2831,2308,2972,3122,2863,2735,...,2519,2360,2359,1710,1378,1554,1689,1738,1319,1446
59,59,2017,1897,2028,1388,1374,1707,1747,2048,2008,...,1293,1206,1199,1054,916,913,992,1214,914,790

In [3]:
matrix = []
cols = ['date_block_num','shop_id','item_id']
for i in range(34):
    sales = sales_train[sales_train.date_block_num==i]
    matrix.append(np.array(list(product([i], sales.shop_id.unique(), sales.item_id.unique())), dtype='int16'))
matrix = pd.DataFrame(np.vstack(matrix), columns=cols)
matrix['date_block_num'] = matrix['date_block_num'].astype(np.int8)
matrix['shop_id'] = matrix['shop_id'].astype(np.int8)
matrix.sort_values(cols, inplace=True)  # 排序
sales_train['revenue'] = sales_train['item_price'] * sales_train['item_cnt_day']    # 某一天的销售额

In [4]:
sales_train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,revenue
0,02.01.2013,0,59,22154,999.00,1.0,999.00
1,03.01.2013,0,25,2552,899.00,1.0,899.00
2,05.01.2013,0,25,2552,899.00,-1.0,-899.00
3,06.01.2013,0,25,2554,1709.05,1.0,1709.05
4,15.01.2013,0,25,2555,1099.00,1.0,1099.00
...,...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0,299.00
2935845,09.10.2015,33,25,7460,299.00,1.0,299.00
2935846,14.10.2015,33,25,7459,349.00,1.0,349.00
2935847,22.10.2015,33,25,7440,299.00,1.0,299.00
2935848,03.10.2015,33,25,7460,299.00,1.0,299.00

In [5]:
groupby = sales_train.groupby(['shop_id','item_id','date_block_num']).agg({'item_cnt_day': 'sum'}).reset_index()

In [6]:
groupby

         shop_id  item_id  date_block_num  item_cnt_day
0              0       30               1          31.0
1              0       31               1          11.0
2              0       32               0           6.0
3              0       32               1          10.0
4              0       33               0           3.0
...          ...      ...             ...           ...
1609119       59    22164              27           2.0
1609120       59    22164              30           1.0
1609121       59    22167               9           1.0
1609122       59    22167              11           2.0
1609123       59    22167              17           1.0

[1609124 rows x 4 columns]

In [7]:
groupby = groupby.rename(columns={'item_cnt_day': 'item_cnt_month'})
groupby

         shop_id  item_id  date_block_num  item_cnt_month
0              0       30               1            31.0
1              0       31               1            11.0
2              0       32               0             6.0
3              0       32               1            10.0
4              0       33               0             3.0
...          ...      ...             ...             ...
1609119       59    22164              27             2.0
1609120       59    22164              30             1.0
1609121       59    22167               9             1.0
1609122       59    22167              11             2.0
1609123       59    22167              17             1.0

[1609124 rows x 4 columns]

In [8]:
matrix

          date_block_num  shop_id  item_id
139255                 0        0       19
141495                 0        0       27
144968                 0        0       28
142661                 0        0       29
138947                 0        0       32
...                  ...      ...      ...
10768834              33       59    22162
10769024              33       59    22163
10769690              33       59    22164
10771216              33       59    22166
10770511              33       59    22167

[10913850 rows x 3 columns]

In [9]:
matrix = matrix.merge(groupby, on=['date_block_num','shop_id','item_id'], how='left')
matrix['item_cnt_month'] = matrix['item_cnt_month'].fillna(0).clip(0, 20)
matrix['item_cnt_month'] = matrix['item_cnt_month'].astype(np.float16)

In [10]:
matrix

          date_block_num  shop_id  item_id  item_cnt_month
0                      0        0       19             0.0
1                      0        0       27             0.0
2                      0        0       28             0.0
3                      0        0       29             0.0
4                      0        0       32             6.0
...                  ...      ...      ...             ...
10913845              33       59    22162             0.0
10913846              33       59    22163             0.0
10913847              33       59    22164             0.0
10913848              33       59    22166             0.0
10913849              33       59    22167             0.0

[10913850 rows x 4 columns]

In [11]:
test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [12]:
test['date_block_num'] = 34
test['date_block_num'] = test['date_block_num'].astype(np.int8)
test['shop_id'] = test['shop_id'].astype(np.int8)
test['item_id'] = test['item_id'].astype(np.int16)

In [13]:
test

            ID  shop_id  item_id  date_block_num
0            0        5     5037              34
1            1        5     5320              34
2            2        5     5233              34
3            3        5     5232              34
4            4        5     5268              34
...        ...      ...      ...             ...
214195  214195       45    18454              34
214196  214196       45    16188              34
214197  214197       45    15757              34
214198  214198       45    19648              34
214199  214199       45      969              34

[214200 rows x 4 columns]

In [14]:
matrix

          date_block_num  shop_id  item_id  item_cnt_month
0                      0        0       19             0.0
1                      0        0       27             0.0
2                      0        0       28             0.0
3                      0        0       29             0.0
4                      0        0       32             6.0
...                  ...      ...      ...             ...
10913845              33       59    22162             0.0
10913846              33       59    22163             0.0
10913847              33       59    22164             0.0
10913848              33       59    22166             0.0
10913849              33       59    22167             0.0

[10913850 rows x 4 columns]

In [15]:
matrix = pd.concat([matrix, test[cols]], ignore_index=True, axis=0)
matrix

          date_block_num  shop_id  item_id  item_cnt_month
0                      0        0       19             0.0
1                      0        0       27             0.0
2                      0        0       28             0.0
3                      0        0       29             0.0
4                      0        0       32             6.0
...                  ...      ...      ...             ...
11128045              34       45    18454             NaN
11128046              34       45    16188             NaN
11128047              34       45    15757             NaN
11128048              34       45    19648             NaN
11128049              34       45      969             NaN

[11128050 rows x 4 columns]

In [16]:
matrix['item_cnt_month'].fillna(0, inplace=True)

In [17]:
items = pd.read_csv('./data/items.csv')
items

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40
...,...,...,...
22165,"Ядерный титбит 2 [PC, Цифровая версия]",22165,31
22166,Язык запросов 1С:Предприятия [Цифровая версия],22166,54
22167,Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,22167,49
22168,Яйцо для Little Inu,22168,62
22169,Яйцо дракона (Игра престолов),22169,69

In [18]:
items = items[['item_id', 'item_category_id']]
items

       item_id  item_category_id
0            0                40
1            1                76
2            2                40
3            3                40
4            4                40
...        ...               ...
22165    22165                31
22166    22166                54
22167    22167                49
22168    22168                62
22169    22169                69

[22170 rows x 2 columns]

In [19]:
matrix

          date_block_num  shop_id  item_id  item_cnt_month
0                      0        0       19             0.0
1                      0        0       27             0.0
2                      0        0       28             0.0
3                      0        0       29             0.0
4                      0        0       32             6.0
...                  ...      ...      ...             ...
11128045              34       45    18454             0.0
11128046              34       45    16188             0.0
11128047              34       45    15757             0.0
11128048              34       45    19648             0.0
11128049              34       45      969             0.0

[11128050 rows x 4 columns]

In [20]:
matrix = pd.merge(left=matrix, right=items, on='item_id', how='left')  # 合并
matrix

          date_block_num  shop_id  item_id  item_cnt_month  item_category_id
0                      0        0       19             0.0                40
1                      0        0       27             0.0                19
2                      0        0       28             0.0                30
3                      0        0       29             0.0                23
4                      0        0       32             6.0                40
...                  ...      ...      ...             ...               ...
11128045              34       45    18454             0.0                55
11128046              34       45    16188             0.0                64
11128047              34       45    15757             0.0                55
11128048              34       45    19648             0.0                40
11128049              34       45      969             0.0                37

[11128050 rows x 5 columns]

In [21]:
le = LabelEncoder()
categories = pd.read_csv('./data/item_categories.csv')
categories

           item_category_name  item_category_id
0     PC - Гарнитуры/Наушники                 0
1            Аксессуары - PS2                 1
2            Аксессуары - PS3                 2
3            Аксессуары - PS4                 3
4            Аксессуары - PSP                 4
..                        ...               ...
79                  Служебные                79
80         Служебные - Билеты                80
81    Чистые носители (шпиль)                81
82  Чистые носители (штучные)                82
83           Элементы питания                83

[84 rows x 2 columns]

In [22]:
categories['split'] = categories['item_category_name'].str.split('-')
categories['type'] = categories['split'].map(lambda x:x[0].strip())
categories['subtype'] = categories['split'].map(lambda x:x[1].strip() if len(x)>1 else x[0].strip())
categories = categories[['item_category_id','type','subtype']]
categories

    item_category_id                       type                    subtype
0                  0                         PC         Гарнитуры/Наушники
1                  1                 Аксессуары                        PS2
2                  2                 Аксессуары                        PS3
3                  3                 Аксессуары                        PS4
4                  4                 Аксессуары                        PSP
..               ...                        ...                        ...
79                79                  Служебные                  Служебные
80                80                  Служебные                     Билеты
81                81    Чистые носители (шпиль)    Чистые носители (шпиль)
82                82  Чистые носители (штучные)  Чистые носители (штучные)
83                83           Элементы питания           Элементы питания

[84 rows x 3 columns]

In [23]:
categories['cat_type_code'] = le.fit_transform(categories['type'])
categories['cat_subtype_code'] = le.fit_transform(categories['subtype'])
categories

d:\program files\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,item_category_id,type,subtype,cat_type_code,cat_subtype_code
0,0,PC,Гарнитуры/Наушники,0,29
1,1,Аксессуары,PS2,1,9
2,2,Аксессуары,PS3,1,10
3,3,Аксессуары,PS4,1,11
4,4,Аксессуары,PSP,1,13
...,...,...,...,...,...
79,79,Служебные,Служебные,16,54
80,80,Служебные,Билеты,16,25
81,81,Чистые носители (шпиль),Чистые носители (шпиль),17,62
82,82,Чистые носители (штучные),Чистые носители (штучные),18,63
83,83,Элементы питания,Элементы питания,19,64

In [24]:
matrix

          date_block_num  shop_id  item_id  item_cnt_month  item_category_id
0                      0        0       19             0.0                40
1                      0        0       27             0.0                19
2                      0        0       28             0.0                30
3                      0        0       29             0.0                23
4                      0        0       32             6.0                40
...                  ...      ...      ...             ...               ...
11128045              34       45    18454             0.0                55
11128046              34       45    16188             0.0                64
11128047              34       45    15757             0.0                55
11128048              34       45    19648             0.0                40
11128049              34       45      969             0.0                37

[11128050 rows x 5 columns]

In [25]:
matrix = pd.merge(left=matrix, right=categories[['item_category_id','cat_type_code','cat_subtype_code']], on='item_category_id', how='left')    # 合并
matrix

,date_block_num,shop_id,item_id,item_cnt_month,item_category_id,cat_type_code,cat_subtype_code
0,0,0,19,0.0,40,11,4
1,0,0,27,0.0,19,5,10
2,0,0,28,0.0,30,8,55
3,0,0,29,0.0,23,5,16
4,0,0,32,6.0,40,11,4
...,...,...,...,...,...,...,...
11128045,34,45,18454,0.0,55,13,2
11128046,34,45,16188,0.0,64,14,42
11128047,34,45,15757,0.0,55,13,2
11128048,34,45,19648,0.0,40,11,4
11128049,34,45,969,0.0,37,11,1

In [26]:
shops = pd.read_csv('./data/shops.csv')
shops

                                          shop_name  shop_id
0                     !Якутск Орджоникидзе, 56 фран        0
1                     !Якутск ТЦ "Центральный" фран        1
2                                  Адыгея ТЦ "Мега"        2
3                    Балашиха ТРК "Октябрь-Киномир"        3
4                          Волжский ТЦ "Волга Молл"        4
5                            Вологда ТРЦ "Мармелад"        5
6                        Воронеж (Плехановская, 13)        6
7                            Воронеж ТРЦ "Максимир"        7
8                      Воронеж ТРЦ Сити-Парк "Град"        8
9                                 Выездная Торговля        9
10                       Жуковский ул. Чкалова 39м?       10
11                       Жуковский ул. Чкалова 39м²       11
12                              Интернет-магазин ЧС       12
13                              Казань ТЦ "Бехетле"       13
14                          Казань ТЦ "ПаркХаус" II       14
15                             Калуга ТРЦ "XXI век"       15
16                                 Коломна ТЦ "Рио"       16
17                    Красноярск ТЦ "Взлетка Плаза"       17
18                             Красноярск ТЦ "Июнь"       18
19                            Курск ТЦ "Пушкинский"       19
20                              Москва "Распродажа"       20
21                           Москва МТРЦ "Афи Молл"       21
22                               Москва Магазин С21       22
23                 Москва ТК "Буденовский" (пав.А2)       23
24                 Москва ТК "Буденовский" (пав.К7)       24
25                              Москва ТРК "Атриум"       25
26                      Москва ТЦ "Ареал" (Беляево)       26
27                   Москва ТЦ "МЕГА Белая Дача II"       27
28                  Москва ТЦ "МЕГА Теплый Стан" II       28
29               Москва ТЦ "Новый век" (Новокосино)       29
30                           Москва ТЦ "Перловский"       30
31                          Москва ТЦ "Семеновский"       31
32                       Москва ТЦ "Серебряный Дом"       32
33                                Мытищи ТРК "XL-3"       33
34                             Н.Новгород ТРЦ "РИО"       34
35                      Н.Новгород ТРЦ "Фантастика"       35
36            Новосибирск ТРЦ "Галерея Новосибирск"       36
37                            Новосибирск ТЦ "Мега"       37
38                                   Омск ТЦ "Мега"       38
39            РостовНаДону ТРК "Мегацентр Горизонт"       39
40  РостовНаДону ТРК "Мегацентр Горизонт" Островной       40
41                           РостовНаДону ТЦ "Мега"       41
42                           СПб ТК "Невский Центр"       42
43                                  СПб ТК "Сенная"       43
44                              Самара ТЦ "Мелодия"       44
45                             Самара ТЦ "ПаркХаус"       45
46                            Сергиев Посад ТЦ "7Я"       46
47                           Сургут ТРЦ "Сити Молл"       47
48                     Томск ТРЦ "Изумрудный Город"       48
49                            Тюмень ТРЦ "Кристалл"       49
50                               Тюмень ТЦ "Гудвин"       50
51                        Тюмень ТЦ "Зеленый Берег"       51
52                             Уфа ТК "Центральный"       52
53                                 Уфа ТЦ "Семья" 2       53
54                                  Химки ТЦ "Мега"       54
55                         Цифровой склад 1С-Онлайн       55
56                             Чехов ТРЦ "Карнавал"       56
57                          Якутск Орджоникидзе, 56       57
58                          Якутск ТЦ "Центральный"       58
59                           Ярославль ТЦ "Альтаир"       59

In [27]:
shops['split']=shops.shop_name.str.split(' ')
shops['shop_city'] = shops['split'].map(lambda x:x[0])
shops

,shop_name,shop_id,split,shop_city
0,"!Якутск Орджоникидзе, 56 фран",0,"[!Якутск, Орджоникидзе,, 56, фран]",!Якутск
1,"!Якутск ТЦ ""Центральный"" фран",1,"[!Якутск, ТЦ, ""Центральный"", фран]",!Якутск
2,"Адыгея ТЦ ""Мега""",2,"[Адыгея, ТЦ, ""Мега""]",Адыгея
3,"Балашиха ТРК ""Октябрь-Киномир""",3,"[Балашиха, ТРК, ""Октябрь-Киномир""]",Балашиха
4,"Волжский ТЦ ""Волга Молл""",4,"[Волжский, ТЦ, ""Волга, Молл""]",Волжский
5,"Вологда ТРЦ ""Мармелад""",5,"[Вологда, ТРЦ, ""Мармелад""]",Вологда
6,"Воронеж (Плехановская, 13)",6,"[Воронеж, (Плехановская,, 13)]",Воронеж
7,"Воронеж ТРЦ ""Максимир""",7,"[Воронеж, ТРЦ, ""Максимир""]",Воронеж
8,"Воронеж ТРЦ Сити-Парк ""Град""",8,"[Воронеж, ТРЦ, Сити-Парк, ""Град""]",Воронеж
9,Выездная Торговля,9,"[Выездная, Торговля]",Выездная
10,Жуковский ул. Чкалова 39м?,10,"[Жуковский, ул., Чкалова, 39м?]",Жуковский
11,Жуковский ул. Чкалова 39м²,11,"[Жуковский, ул., Чкалова, 39м²]",Жуковский
12,Интернет-магазин ЧС,12,"[Интернет-магазин, ЧС]",Интернет-магазин
13,"Казань ТЦ ""Бехетле""",13,"[Казань, ТЦ, ""Бехетле""]",Казань
14,"Казань ТЦ ""ПаркХаус"" II",14,"[Казань, ТЦ, ""ПаркХаус"", II]",Казань
15,"Калуга ТРЦ ""XXI век""",15,"[Калуга, ТРЦ, ""XXI, век""]",Калуга
16,"Коломна ТЦ ""Рио""",16,"[Коломна, ТЦ, ""Рио""]",Коломна
17,"Красноярск ТЦ ""Взлетка Плаза""",17,"[Красноярск, ТЦ, ""Взлетка, Плаза""]",Красноярск
18,"Красноярск ТЦ ""Июнь""",18,"[Красноярск, ТЦ, ""Июнь""]",Красноярск
19,"Курск ТЦ ""Пушкинский""",19,"[Курск, ТЦ, ""Пушкинский""]",Курск
20,"Москва ""Распродажа""",20,"[Москва, ""Распродажа""]",Москва
21,"Москва МТРЦ ""Афи Молл""",21,"[Москва, МТРЦ, ""Афи, Молл""]",Москва
22,Москва Магазин С21,22,"[Москва, Магазин, С21]",Москва
23,"Москва ТК ""Буденовский"" (пав.А2)",23,"[Москва, ТК, ""Буденовский"", (пав.А2)]",Москва
24,"Москва ТК ""Буденовский"" (пав.К7)",24,"[Москва, ТК, ""Буденовский"", (пав.К7)]",Москва
25,"Москва ТРК ""Атриум""",25,"[Москва, ТРК, ""Атриум""]",Москва
26,"Москва ТЦ ""Ареал"" (Беляево)",26,"[Москва, ТЦ, ""Ареал"", (Беляево)]",Москва
27,"Москва ТЦ ""МЕГА Белая Дача II""",27,"[Москва, ТЦ, ""МЕГА, Белая, Дача, II""]",Москва
28,"Москва ТЦ ""МЕГА Теплый Стан"" II",28,"[Москва, ТЦ, ""МЕГА, Теплый, Стан"", II]",Москва
29,"Москва ТЦ ""Новый век"" (Новокосино)",29,"[Москва, ТЦ, ""Новый, век"", (Новокосино)]",Москва
30,"Москва ТЦ ""Перловский""",30,"[Москва, ТЦ, ""Перловский""]",Москва
31,"Москва ТЦ ""Семеновский""",31,"[Москва, ТЦ, ""Семеновский""]",Москва
32,"Москва ТЦ ""Серебряный Дом""",32,"[Москва, ТЦ, ""Серебряный, Дом""]",Москва
33,"Мытищи ТРК ""XL-3""",33,"[Мытищи, ТРК, ""XL-3""]",Мытищи
34,"Н.Новгород ТРЦ ""РИО""",34,"[Н.Новгород, ТРЦ, ""РИО""]",Н.Новгород
35,"Н.Новгород ТРЦ ""Фантастика""",35,"[Н.Новгород, ТРЦ, ""Фантастика""]",Н.Новгород
36,"Новосибирск ТРЦ ""Галерея Новосибирск""",36,"[Новосибирск, ТРЦ, ""Галерея, Новосибирск""]",Новосибирск
37,"Новосибирск ТЦ ""Мега""",37,"[Новосибирск, ТЦ, ""Мега""]",Новосибирск
38,"Омск ТЦ ""Мега""",38,"[Омск, ТЦ, ""Мега""]",Омск
39,"РостовНаДону ТРК ""Мегацентр Горизонт""",39,"[РостовНаДону, ТРК, ""Мегацентр, Горизонт""]",РостовНаДону
40,"РостовНаДону ТРК ""Мегацентр Горизонт"" Островной",40,"[РостовНаДону, ТРК, ""Мегацентр, Горизонт"", Ост...",РостовНаДону
41,"РостовНаДону ТЦ ""Мега""",41,"[РостовНаДону, ТЦ, ""Мега""]",РостовНаДону
42,"СПб ТК ""Невский Центр""",42,"[СПб, ТК, ""Невский, Центр""]",СПб
43,"СПб ТК ""Сенная""",43,"[СПб, ТК, ""Сенная""]",СПб
44,"Самара ТЦ ""Мелодия""",44,"[Самара, ТЦ, ""Мелодия""]",Самара
45,"Самара ТЦ ""ПаркХаус""",45,"[Самара, ТЦ, ""ПаркХаус""]",Самара
46,"Сергиев Посад ТЦ ""7Я""",46,"[Сергиев, Посад, ТЦ, ""7Я""]",Сергиев
47,"Сургут ТРЦ ""Сити Молл""",47,"[Сургут, ТРЦ, ""Сити, Молл""]",Сургут
48,"Томск ТРЦ ""Изумрудный Город""",48,"[Томск, ТРЦ, ""Изумрудный, Город""]",Томск
49,"Тюмень ТРЦ ""Кристалл""",49,"[Тюмень, ТРЦ, ""Кристалл""]",Тюмень
50,"Тюмень ТЦ ""Гудвин""",50,"[Тюмень, ТЦ, ""Гудвин""]",Тюмень
51,"Тюмень ТЦ ""Зеленый Берег""",51,"[Тюмень, ТЦ, ""Зеленый, Берег""]",Тюмень
52,"Уфа ТК ""Центральный""",52,"[Уфа, ТК, ""Центральный""]",Уфа
53,"Уфа ТЦ ""Семья"" 2",53,"[Уфа, ТЦ, ""Семья"", 2]",Уфа
54,"Химки ТЦ ""Мега""",54,"[Химки, ТЦ, ""Мега""]",Химки
55,Цифровой склад 1С-Онлайн,55,"[Цифровой, склад, 1С-Онлайн]",Цифровой
56,"Чехов ТРЦ ""Карнавал""",56,"[Чехов, ТРЦ, ""Карнавал""]",Чехов
57,"Якутск Орджоникидзе, 56",57,"[Якутск, Орджоникидзе,, 56]",Якутск
58,"Якутск ТЦ ""Центральный""",58,"[Якутск, ТЦ, ""Центральный""]",Якутск
59,"Ярославль ТЦ ""Альтаир""",59,"[Ярославль, ТЦ, ""Альтаир""]",Ярославль

In [28]:
shops['shop_city_code'] = le.fit_transform(shops['shop_city'])
def st(name):
    if 'ТЦ' in name or 'ТРЦ' in name:
        shopt = 'ТЦ'
    elif 'ТК' in name:
        shopt = 'ТК'
    elif 'ТРК' in name:
        shopt = 'ТРК'
    elif 'МТРЦ' in name:
        shopt = 'МТРЦ'
    else:
        shopt = 'UNKNOWN'
    return shopt

In [29]:
shops['shop_type'] = shops['shop_name'].apply(st)
shops

,shop_name,shop_id,split,shop_city,shop_city_code,shop_type
0,"!Якутск Орджоникидзе, 56 фран",0,"[!Якутск, Орджоникидзе,, 56, фран]",!Якутск,0,UNKNOWN
1,"!Якутск ТЦ ""Центральный"" фран",1,"[!Якутск, ТЦ, ""Центральный"", фран]",!Якутск,0,ТЦ
2,"Адыгея ТЦ ""Мега""",2,"[Адыгея, ТЦ, ""Мега""]",Адыгея,1,ТЦ
3,"Балашиха ТРК ""Октябрь-Киномир""",3,"[Балашиха, ТРК, ""Октябрь-Киномир""]",Балашиха,2,ТРК
4,"Волжский ТЦ ""Волга Молл""",4,"[Волжский, ТЦ, ""Волга, Молл""]",Волжский,3,ТЦ
5,"Вологда ТРЦ ""Мармелад""",5,"[Вологда, ТРЦ, ""Мармелад""]",Вологда,4,ТЦ
6,"Воронеж (Плехановская, 13)",6,"[Воронеж, (Плехановская,, 13)]",Воронеж,5,UNKNOWN
7,"Воронеж ТРЦ ""Максимир""",7,"[Воронеж, ТРЦ, ""Максимир""]",Воронеж,5,ТЦ
8,"Воронеж ТРЦ Сити-Парк ""Град""",8,"[Воронеж, ТРЦ, Сити-Парк, ""Град""]",Воронеж,5,ТЦ
9,Выездная Торговля,9,"[Выездная, Торговля]",Выездная,6,UNKNOWN
10,Жуковский ул. Чкалова 39м?,10,"[Жуковский, ул., Чкалова, 39м?]",Жуковский,7,UNKNOWN
11,Жуковский ул. Чкалова 39м²,11,"[Жуковский, ул., Чкалова, 39м²]",Жуковский,7,UNKNOWN
12,Интернет-магазин ЧС,12,"[Интернет-магазин, ЧС]",Интернет-магазин,8,UNKNOWN
13,"Казань ТЦ ""Бехетле""",13,"[Казань, ТЦ, ""Бехетле""]",Казань,9,ТЦ
14,"Казань ТЦ ""ПаркХаус"" II",14,"[Казань, ТЦ, ""ПаркХаус"", II]",Казань,9,ТЦ
15,"Калуга ТРЦ ""XXI век""",15,"[Калуга, ТРЦ, ""XXI, век""]",Калуга,10,ТЦ
16,"Коломна ТЦ ""Рио""",16,"[Коломна, ТЦ, ""Рио""]",Коломна,11,ТЦ
17,"Красноярск ТЦ ""Взлетка Плаза""",17,"[Красноярск, ТЦ, ""Взлетка, Плаза""]",Красноярск,12,ТЦ
18,"Красноярск ТЦ ""Июнь""",18,"[Красноярск, ТЦ, ""Июнь""]",Красноярск,12,ТЦ
19,"Курск ТЦ ""Пушкинский""",19,"[Курск, ТЦ, ""Пушкинский""]",Курск,13,ТЦ
20,"Москва ""Распродажа""",20,"[Москва, ""Распродажа""]",Москва,14,UNKNOWN
21,"Москва МТРЦ ""Афи Молл""",21,"[Москва, МТРЦ, ""Афи, Молл""]",Москва,14,ТЦ
22,Москва Магазин С21,22,"[Москва, Магазин, С21]",Москва,14,UNKNOWN
23,"Москва ТК ""Буденовский"" (пав.А2)",23,"[Москва, ТК, ""Буденовский"", (пав.А2)]",Москва,14,ТК
24,"Москва ТК ""Буденовский"" (пав.К7)",24,"[Москва, ТК, ""Буденовский"", (пав.К7)]",Москва,14,ТК
25,"Москва ТРК ""Атриум""",25,"[Москва, ТРК, ""Атриум""]",Москва,14,ТРК
26,"Москва ТЦ ""Ареал"" (Беляево)",26,"[Москва, ТЦ, ""Ареал"", (Беляево)]",Москва,14,ТЦ
27,"Москва ТЦ ""МЕГА Белая Дача II""",27,"[Москва, ТЦ, ""МЕГА, Белая, Дача, II""]",Москва,14,ТЦ
28,"Москва ТЦ ""МЕГА Теплый Стан"" II",28,"[Москва, ТЦ, ""МЕГА, Теплый, Стан"", II]",Москва,14,ТЦ
29,"Москва ТЦ ""Новый век"" (Новокосино)",29,"[Москва, ТЦ, ""Новый, век"", (Новокосино)]",Москва,14,ТЦ
30,"Москва ТЦ ""Перловский""",30,"[Москва, ТЦ, ""Перловский""]",Москва,14,ТЦ
31,"Москва ТЦ ""Семеновский""",31,"[Москва, ТЦ, ""Семеновский""]",Москва,14,ТЦ
32,"Москва ТЦ ""Серебряный Дом""",32,"[Москва, ТЦ, ""Серебряный, Дом""]",Москва,14,ТЦ
33,"Мытищи ТРК ""XL-3""",33,"[Мытищи, ТРК, ""XL-3""]",Мытищи,15,ТРК
34,"Н.Новгород ТРЦ ""РИО""",34,"[Н.Новгород, ТРЦ, ""РИО""]",Н.Новгород,16,ТЦ
35,"Н.Новгород ТРЦ ""Фантастика""",35,"[Н.Новгород, ТРЦ, ""Фантастика""]",Н.Новгород,16,ТЦ
36,"Новосибирск ТРЦ ""Галерея Новосибирск""",36,"[Новосибирск, ТРЦ, ""Галерея, Новосибирск""]",Новосибирск,17,ТЦ
37,"Новосибирск ТЦ ""Мега""",37,"[Новосибирск, ТЦ, ""Мега""]",Новосибирск,17,ТЦ
38,"Омск ТЦ ""Мега""",38,"[Омск, ТЦ, ""Мега""]",Омск,18,ТЦ
39,"РостовНаДону ТРК ""Мегацентр Горизонт""",39,"[РостовНаДону, ТРК, ""Мегацентр, Горизонт""]",РостовНаДону,19,ТРК
40,"РостовНаДону ТРК ""Мегацентр Горизонт"" Островной",40,"[РостовНаДону, ТРК, ""Мегацентр, Горизонт"", Ост...",РостовНаДону,19,ТРК
41,"РостовНаДону ТЦ ""Мега""",41,"[РостовНаДону, ТЦ, ""Мега""]",РостовНаДону,19,ТЦ
42,"СПб ТК ""Невский Центр""",42,"[СПб, ТК, ""Невский, Центр""]",СПб,20,ТК
43,"СПб ТК ""Сенная""",43,"[СПб, ТК, ""Сенная""]",СПб,20,ТК
44,"Самара ТЦ ""Мелодия""",44,"[Самара, ТЦ, ""Мелодия""]",Самара,21,ТЦ
45,"Самара ТЦ ""ПаркХаус""",45,"[Самара, ТЦ, ""ПаркХаус""]",Самара,21,ТЦ
46,"Сергиев Посад ТЦ ""7Я""",46,"[Сергиев, Посад, ТЦ, ""7Я""]",Сергиев,22,ТЦ
47,"Сургут ТРЦ ""Сити Молл""",47,"[Сургут, ТРЦ, ""Сити, Молл""]",Сургут,23,ТЦ
48,"Томск ТРЦ ""Изумрудный Город""",48,"[Томск, ТРЦ, ""Изумрудный, Город""]",Томск,24,ТЦ
49,"Тюмень ТРЦ ""Кристалл""",49,"[Тюмень, ТРЦ, ""Кристалл""]",Тюмень,25,ТЦ
50,"Тюмень ТЦ ""Гудвин""",50,"[Тюмень, ТЦ, ""Гудвин""]",Тюмень,25,ТЦ
51,"Тюмень ТЦ ""Зеленый Берег""",51,"[Тюмень, ТЦ, ""Зеленый, Берег""]",Тюмень,25,ТЦ
52,"Уфа ТК ""Центральный""",52,"[Уфа, ТК, ""Центральный""]",Уфа,26,ТК
53,"Уфа ТЦ ""Семья"" 2",53,"[Уфа, ТЦ, ""Семья"", 2]",Уфа,26,ТЦ
54,"Химки ТЦ ""Мега""",54,"[Химки, ТЦ, ""Мега""]",Химки,27,ТЦ
55,Цифровой склад 1С-Онлайн,55,"[Цифровой, склад, 1С-Онлайн]",Цифровой,28,UNKNOWN
56,"Чехов ТРЦ ""Карнавал""",56,"[Чехов, ТРЦ, ""Карнавал""]",Чехов,29,ТЦ
57,"Якутск Орджоникидзе, 56",57,"[Якутск, Орджоникидзе,, 56]",Якутск,30,UNKNOWN
58,"Якутск ТЦ ""Центральный""",58,"[Якутск, ТЦ, ""Центральный""]",Якутск,30,ТЦ
59,"Ярославль ТЦ ""Альтаир""",59,"[Ярославль, ТЦ, ""Альтаир""]",Ярославль,31,ТЦ

In [30]:
shops.loc[shops.shop_id == 21, 'shop_type'] = 'МТРЦ'   # 修正

In [31]:
shops['shop_type_code'] = le.fit_transform(shops['shop_type'])
shops

,shop_name,shop_id,split,shop_city,shop_city_code,shop_type,shop_type_code
0,"!Якутск Орджоникидзе, 56 фран",0,"[!Якутск, Орджоникидзе,, 56, фран]",!Якутск,0,UNKNOWN,0
1,"!Якутск ТЦ ""Центральный"" фран",1,"[!Якутск, ТЦ, ""Центральный"", фран]",!Якутск,0,ТЦ,4
2,"Адыгея ТЦ ""Мега""",2,"[Адыгея, ТЦ, ""Мега""]",Адыгея,1,ТЦ,4
3,"Балашиха ТРК ""Октябрь-Киномир""",3,"[Балашиха, ТРК, ""Октябрь-Киномир""]",Балашиха,2,ТРК,3
4,"Волжский ТЦ ""Волга Молл""",4,"[Волжский, ТЦ, ""Волга, Молл""]",Волжский,3,ТЦ,4
5,"Вологда ТРЦ ""Мармелад""",5,"[Вологда, ТРЦ, ""Мармелад""]",Вологда,4,ТЦ,4
6,"Воронеж (Плехановская, 13)",6,"[Воронеж, (Плехановская,, 13)]",Воронеж,5,UNKNOWN,0
7,"Воронеж ТРЦ ""Максимир""",7,"[Воронеж, ТРЦ, ""Максимир""]",Воронеж,5,ТЦ,4
8,"Воронеж ТРЦ Сити-Парк ""Град""",8,"[Воронеж, ТРЦ, Сити-Парк, ""Град""]",Воронеж,5,ТЦ,4
9,Выездная Торговля,9,"[Выездная, Торговля]",Выездная,6,UNKNOWN,0
10,Жуковский ул. Чкалова 39м?,10,"[Жуковский, ул., Чкалова, 39м?]",Жуковский,7,UNKNOWN,0
11,Жуковский ул. Чкалова 39м²,11,"[Жуковский, ул., Чкалова, 39м²]",Жуковский,7,UNKNOWN,0
12,Интернет-магазин ЧС,12,"[Интернет-магазин, ЧС]",Интернет-магазин,8,UNKNOWN,0
13,"Казань ТЦ ""Бехетле""",13,"[Казань, ТЦ, ""Бехетле""]",Казань,9,ТЦ,4
14,"Казань ТЦ ""ПаркХаус"" II",14,"[Казань, ТЦ, ""ПаркХаус"", II]",Казань,9,ТЦ,4
15,"Калуга ТРЦ ""XXI век""",15,"[Калуга, ТРЦ, ""XXI, век""]",Калуга,10,ТЦ,4
16,"Коломна ТЦ ""Рио""",16,"[Коломна, ТЦ, ""Рио""]",Коломна,11,ТЦ,4
17,"Красноярск ТЦ ""Взлетка Плаза""",17,"[Красноярск, ТЦ, ""Взлетка, Плаза""]",Красноярск,12,ТЦ,4
18,"Красноярск ТЦ ""Июнь""",18,"[Красноярск, ТЦ, ""Июнь""]",Красноярск,12,ТЦ,4
19,"Курск ТЦ ""Пушкинский""",19,"[Курск, ТЦ, ""Пушкинский""]",Курск,13,ТЦ,4
20,"Москва ""Распродажа""",20,"[Москва, ""Распродажа""]",Москва,14,UNKNOWN,0
21,"Москва МТРЦ ""Афи Молл""",21,"[Москва, МТРЦ, ""Афи, Молл""]",Москва,14,МТРЦ,1
22,Москва Магазин С21,22,"[Москва, Магазин, С21]",Москва,14,UNKNOWN,0
23,"Москва ТК ""Буденовский"" (пав.А2)",23,"[Москва, ТК, ""Буденовский"", (пав.А2)]",Москва,14,ТК,2
24,"Москва ТК ""Буденовский"" (пав.К7)",24,"[Москва, ТК, ""Буденовский"", (пав.К7)]",Москва,14,ТК,2
25,"Москва ТРК ""Атриум""",25,"[Москва, ТРК, ""Атриум""]",Москва,14,ТРК,3
26,"Москва ТЦ ""Ареал"" (Беляево)",26,"[Москва, ТЦ, ""Ареал"", (Беляево)]",Москва,14,ТЦ,4
27,"Москва ТЦ ""МЕГА Белая Дача II""",27,"[Москва, ТЦ, ""МЕГА, Белая, Дача, II""]",Москва,14,ТЦ,4
28,"Москва ТЦ ""МЕГА Теплый Стан"" II",28,"[Москва, ТЦ, ""МЕГА, Теплый, Стан"", II]",Москва,14,ТЦ,4
29,"Москва ТЦ ""Новый век"" (Новокосино)",29,"[Москва, ТЦ, ""Новый, век"", (Новокосино)]",Москва,14,ТЦ,4
30,"Москва ТЦ ""Перловский""",30,"[Москва, ТЦ, ""Перловский""]",Москва,14,ТЦ,4
31,"Москва ТЦ ""Семеновский""",31,"[Москва, ТЦ, ""Семеновский""]",Москва,14,ТЦ,4
32,"Москва ТЦ ""Серебряный Дом""",32,"[Москва, ТЦ, ""Серебряный, Дом""]",Москва,14,ТЦ,4
33,"Мытищи ТРК ""XL-3""",33,"[Мытищи, ТРК, ""XL-3""]",Мытищи,15,ТРК,3
34,"Н.Новгород ТРЦ ""РИО""",34,"[Н.Новгород, ТРЦ, ""РИО""]",Н.Новгород,16,ТЦ,4
35,"Н.Новгород ТРЦ ""Фантастика""",35,"[Н.Новгород, ТРЦ, ""Фантастика""]",Н.Новгород,16,ТЦ,4
36,"Новосибирск ТРЦ ""Галерея Новосибирск""",36,"[Новосибирск, ТРЦ, ""Галерея, Новосибирск""]",Новосибирск,17,ТЦ,4
37,"Новосибирск ТЦ ""Мега""",37,"[Новосибирск, ТЦ, ""Мега""]",Новосибирск,17,ТЦ,4
38,"Омск ТЦ ""Мега""",38,"[Омск, ТЦ, ""Мега""]",Омск,18,ТЦ,4
39,"РостовНаДону ТРК ""Мегацентр Горизонт""",39,"[РостовНаДону, ТРК, ""Мегацентр, Горизонт""]",РостовНаДону,19,ТРК,3
40,"РостовНаДону ТРК ""Мегацентр Горизонт"" Островной",40,"[РостовНаДону, ТРК, ""Мегацентр, Горизонт"", Ост...",РостовНаДону,19,ТРК,3
41,"РостовНаДону ТЦ ""Мега""",41,"[РостовНаДону, ТЦ, ""Мега""]",РостовНаДону,19,ТЦ,4
42,"СПб ТК ""Невский Центр""",42,"[СПб, ТК, ""Невский, Центр""]",СПб,20,ТК,2
43,"СПб ТК ""Сенная""",43,"[СПб, ТК, ""Сенная""]",СПб,20,ТК,2
44,"Самара ТЦ ""Мелодия""",44,"[Самара, ТЦ, ""Мелодия""]",Самара,21,ТЦ,4
45,"Самара ТЦ ""ПаркХаус""",45,"[Самара, ТЦ, ""ПаркХаус""]",Самара,21,ТЦ,4
46,"Сергиев Посад ТЦ ""7Я""",46,"[Сергиев, Посад, ТЦ, ""7Я""]",Сергиев,22,ТЦ,4
47,"Сургут ТРЦ ""Сити Молл""",47,"[Сургут, ТРЦ, ""Сити, Молл""]",Сургут,23,ТЦ,4
48,"Томск ТРЦ ""Изумрудный Город""",48,"[Томск, ТРЦ, ""Изумрудный, Город""]",Томск,24,ТЦ,4
49,"Тюмень ТРЦ ""Кристалл""",49,"[Тюмень, ТРЦ, ""Кристалл""]",Тюмень,25,ТЦ,4
50,"Тюмень ТЦ ""Гудвин""",50,"[Тюмень, ТЦ, ""Гудвин""]",Тюмень,25,ТЦ,4
51,"Тюмень ТЦ ""Зеленый Берег""",51,"[Тюмень, ТЦ, ""Зеленый, Берег""]",Тюмень,25,ТЦ,4
52,"Уфа ТК ""Центральный""",52,"[Уфа, ТК, ""Центральный""]",Уфа,26,ТК,2
53,"Уфа ТЦ ""Семья"" 2",53,"[Уфа, ТЦ, ""Семья"", 2]",Уфа,26,ТЦ,4
54,"Химки ТЦ ""Мега""",54,"[Химки, ТЦ, ""Мега""]",Химки,27,ТЦ,4
55,Цифровой склад 1С-Онлайн,55,"[Цифровой, склад, 1С-Онлайн]",Цифровой,28,UNKNOWN,0
56,"Чехов ТРЦ ""Карнавал""",56,"[Чехов, ТРЦ, ""Карнавал""]",Чехов,29,ТЦ,4
57,"Якутск Орджоникидзе, 56",57,"[Якутск, Орджоникидзе,, 56]",Якутск,30,UNKNOWN,0
58,"Якутск ТЦ ""Центральный""",58,"[Якутск, ТЦ, ""Центральный""]",Якутск,30,ТЦ,4
59,"Ярославль ТЦ ""Альтаир""",59,"[Ярославль, ТЦ, ""Альтаир""]",Ярославль,31,ТЦ,4

In [32]:
matrix

,date_block_num,shop_id,item_id,item_cnt_month,item_category_id,cat_type_code,cat_subtype_code
0,0,0,19,0.0,40,11,4
1,0,0,27,0.0,19,5,10
2,0,0,28,0.0,30,8,55
3,0,0,29,0.0,23,5,16
4,0,0,32,6.0,40,11,4
...,...,...,...,...,...,...,...
11128045,34,45,18454,0.0,55,13,2
11128046,34,45,16188,0.0,64,14,42
11128047,34,45,15757,0.0,55,13,2
11128048,34,45,19648,0.0,40,11,4
11128049,34,45,969,0.0,37,11,1

In [33]:
matrix = pd.merge(left=matrix, right=shops[['shop_id','shop_city_code','shop_type_code']], on='shop_id', how='left')    # 合并
matrix

,date_block_num,shop_id,item_id,item_cnt_month,item_category_id,cat_type_code,cat_subtype_code,shop_city_code,shop_type_code
0,0,0,19,0.0,40,11,4,0,0
1,0,0,27,0.0,19,5,10,0,0
2,0,0,28,0.0,30,8,55,0,0
3,0,0,29,0.0,23,5,16,0,0
4,0,0,32,6.0,40,11,4,0,0
...,...,...,...,...,...,...,...,...,...
11128045,34,45,18454,0.0,55,13,2,21,4
11128046,34,45,16188,0.0,64,14,42,21,4
11128047,34,45,15757,0.0,55,13,2,21,4
11128048,34,45,19648,0.0,40,11,4,21,4
11128049,34,45,969,0.0,37,11,1,21,4

In [34]:
matrix['item_category_id'] = matrix['item_category_id'].astype(np.int8)
matrix['cat_type_code'] = matrix['cat_type_code'].astype(np.int8)
matrix['cat_subtype_code'] = matrix['cat_subtype_code'].astype(np.int8)
matrix['shop_city_code'] = matrix['shop_city_code'].astype(np.int8)
matrix['shop_type_code'] = matrix['shop_type_code'].astype(np.int8)

In [38]:
def lag_features(df, lags, col):
    tmp = df[['date_block_num','shop_id','item_id',col]]
    for i in lags:
        shifted = tmp.copy()
        shifted.columns = ['date_block_num','shop_id','item_id',col+'_lag_'+str(i)]
        shifted['date_block_num'] = shifted['date_block_num'] + i
        df = pd.merge(left=df, right=shifted, on=['date_block_num','shop_id','item_id'], how='left')
    return df
matrix = lag_features(matrix, [1,2,3,6,12], 'item_cnt_month')

In [39]:
matrix

,date_block_num,shop_id,item_id,item_cnt_month,item_category_id,cat_type_code,cat_subtype_code,shop_city_code,shop_type_code,item_cnt_month_lag_1,item_cnt_month_lag_2,item_cnt_month_lag_3,item_cnt_month_lag_6,item_cnt_month_lag_12
0,0,0,19,0.0,40,11,4,0,0,NaN,NaN,NaN,NaN,NaN
1,0,0,27,0.0,19,5,10,0,0,NaN,NaN,NaN,NaN,NaN
2,0,0,28,0.0,30,8,55,0,0,NaN,NaN,NaN,NaN,NaN
3,0,0,29,0.0,23,5,16,0,0,NaN,NaN,NaN,NaN,NaN
4,0,0,32,6.0,40,11,4,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11128045,34,45,18454,0.0,55,13,2,21,4,1.0,0.0,0.0,0.0,NaN
11128046,34,45,16188,0.0,64,14,42,21,4,0.0,0.0,NaN,NaN,NaN
11128047,34,45,15757,0.0,55,13,2,21,4,0.0,0.0,0.0,0.0,0.0
11128048,34,45,19648,0.0,40,11,4,21,4,0.0,0.0,0.0,0.0,NaN
11128049,34,45,969,0.0,37,11,1,21,4,0.0,0.0,0.0,0.0,0.0

In [40]:
# 月销量（所有商品）
group = matrix.groupby('date_block_num').agg({'item_cnt_month': 'mean'}).reset_index()
group.columns = ['date_block_num', 'date_avg_item_cnt']
matrix = pd.merge(left=matrix, right=group, on='date_block_num', how='left')
matrix = lag_features(matrix, [1,2,3,6,12], 'date_avg_item_cnt')
matrix.drop('date_avg_item_cnt', axis=1, inplace=True)

In [41]:
# 月销量（每一件商品）
group = matrix.groupby(['date_block_num', 'item_id']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_item_avg_item_cnt' ]
group.reset_index(inplace=True)
matrix = pd.merge(left=matrix, right=group, on=['date_block_num','item_id'], how='left')
matrix = lag_features(matrix, [1,2,3,6,12], 'date_item_avg_item_cnt')
matrix.drop('date_item_avg_item_cnt', axis=1, inplace=True)

In [42]:
# 月销量（每个商店 ）
group = matrix.groupby(['date_block_num','shop_id']).agg({'item_cnt_month': 'mean'})
group.columns = ['date_shop_avg_item_cnt']
group = group.reset_index()
matrix = pd.merge(left=matrix, right=group, on=['date_block_num','shop_id'], how='left')
matrix = lag_features(matrix, [1,2,3,6,12], 'date_shop_avg_item_cnt')
matrix.drop('date_shop_avg_item_cnt', axis=1, inplace=True)

In [43]:
# 月销量（每个类别）
group = matrix.groupby(['date_block_num','item_category_id']).agg({'item_cnt_month': 'mean'})
group.columns = ['date_cat_avg_item_cnt']
group = group.reset_index()
matrix=pd.merge(left=matrix, right=group, on=['date_block_num','item_category_id'], how='left')
matrix = lag_features(matrix, [1,2,3,6,12], 'date_cat_avg_item_cnt')
matrix.drop('date_cat_avg_item_cnt', axis=1, inplace=True)

In [44]:
# 月销量（商品类别-商店）
group = matrix.groupby(['date_block_num','item_category_id','shop_id']).agg({'item_cnt_month': 'mean'})
group.columns = ['date_cat_shop_avg_item_cnt']
group = group.reset_index()
matrix = pd.merge(left=matrix, right=group, on=['date_block_num','item_category_id','shop_id'], how='left')
matrix = lag_features(matrix, [1,2,3,6,12], 'date_cat_shop_avg_item_cnt')
matrix.drop('date_cat_shop_avg_item_cnt', axis=1, inplace=True)

In [45]:
# 月销量（商品大类）
group = matrix.groupby(['date_block_num','cat_type_code']).agg({'item_cnt_month': 'mean'})
group.columns = ['date_type_avg_item_cnt']
group = group.reset_index()
matrix = pd.merge(left=matrix, right=group, on=['date_block_num','cat_type_code'], how='left')
matrix = lag_features(matrix, [1,2,3,6,12], 'date_type_avg_item_cnt')
matrix.drop('date_type_avg_item_cnt', axis=1, inplace=True)

In [46]:
# 月销量（商店城市）
group = matrix.groupby(['date_block_num','shop_city_code']).agg({'item_cnt_month': 'mean'})
group.columns = ['date_city_avg_item_cnt']
group = group.reset_index()
matrix = pd.merge(left=matrix, right=group, on=['date_block_num','shop_city_code'], how='left')
matrix = lag_features(matrix, [1,2,3,6,12], 'date_city_avg_item_cnt')
matrix.drop('date_city_avg_item_cnt', axis=1, inplace=True)

In [47]:
# 月销量（商品-商店城市）
group = matrix.groupby(['date_block_num', 'item_id', 'shop_city_code']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_item_city_avg_item_cnt']
group = group.reset_index()
matrix=pd.merge(left=matrix, right=group, on=['date_block_num', 'item_id', 'shop_city_code'], how='left')
matrix = lag_features(matrix, [1,2,3,6,12], 'date_item_city_avg_item_cnt')
matrix.drop('date_item_city_avg_item_cnt', axis=1, inplace=True)

In [48]:
sales_train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,revenue
0,02.01.2013,0,59,22154,999.00,1.0,999.00
1,03.01.2013,0,25,2552,899.00,1.0,899.00
2,05.01.2013,0,25,2552,899.00,-1.0,-899.00
3,06.01.2013,0,25,2554,1709.05,1.0,1709.05
4,15.01.2013,0,25,2555,1099.00,1.0,1099.00
...,...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0,299.00
2935845,09.10.2015,33,25,7460,299.00,1.0,299.00
2935846,14.10.2015,33,25,7459,349.00,1.0,349.00
2935847,22.10.2015,33,25,7440,299.00,1.0,299.00
2935848,03.10.2015,33,25,7460,299.00,1.0,299.00

In [49]:
# 趋势特征
group = sales_train.groupby('item_id').agg({'item_price': 'mean'})
group.columns = ['item_avg_item_price']
group = group.reset_index()
matrix = pd.merge(left=matrix, right=group, on='item_id', how='left')

group = sales_train.groupby(['date_block_num','item_id']).agg({'item_price': 'mean'})
group.columns = ['date_item_avg_item_price']
group = group.reset_index()
matrix=pd.merge(left=matrix, right=group, on=['date_block_num','item_id'], how='left')

matrix['item_avg_item_price'] = matrix['item_avg_item_price'].astype(np.float16)
matrix['date_item_avg_item_price'] = matrix['date_item_avg_item_price'].astype(np.float16)

# 计算matrix中商品的历史价格
lags = [1,2,3,4,5,6,12]
matrix = lag_features(matrix, lags, 'date_item_avg_item_price')
for i in lags:
    matrix['delta_price_lag_'+str(i)] = (matrix['date_item_avg_item_price_lag_' + str(i)] - matrix['item_avg_item_price']) / matrix['item_avg_item_price']

def select_trend(row):
    for i in lags:
        if pd.notnull(row['delta_price_lag_'+str(i)]):  # 如果不是NaN
            return row['delta_price_lag_'+str(i)]
    return 0   #  如果delta_price_lag_都为空，那么将趋势设为0，0代表没有趋势

matrix['delta_price_lag'] = matrix.apply(select_trend, axis=1)
matrix['delta_price_lag'] = matrix['delta_price_lag'].astype(np.float16)

features_to_drop = ['item_avg_item_price','date_item_avg_item_price']
for i in lags:
    features_to_drop += ['date_item_avg_item_price_lag_'+str(i)]
    features_to_drop += ['delta_price_lag_'+str(i)]
matrix.drop(features_to_drop, axis=1, inplace=True)

In [50]:
# 每个月的天数
matrix['month'] = matrix['date_block_num'] % 12
days = pd.Series([31,28,31,30,31,30,31,31,30,31,30,31])
matrix['days'] = matrix['month'].map(days)
matrix['days'] = matrix['days'].astype(np.int8)

In [51]:
matrix

,date_block_num,shop_id,item_id,item_cnt_month,item_category_id,cat_type_code,cat_subtype_code,shop_city_code,shop_type_code,item_cnt_month_lag_1,...,date_city_avg_item_cnt_lag_6,date_city_avg_item_cnt_lag_12,date_item_city_avg_item_cnt_lag_1,date_item_city_avg_item_cnt_lag_2,date_item_city_avg_item_cnt_lag_3,date_item_city_avg_item_cnt_lag_6,date_item_city_avg_item_cnt_lag_12,delta_price_lag,month,days
0,0,0,19,0.0,40,11,4,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0,31
1,0,0,27,0.0,19,5,10,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0,31
2,0,0,28,0.0,30,8,55,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0,31
3,0,0,29,0.0,23,5,16,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0,31
4,0,0,32,6.0,40,11,4,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11128045,34,45,18454,0.0,55,13,2,21,4,1.0,...,0.143433,NaN,0.5,0.0,0.0,0.0,NaN,-0.475098,10,30
11128046,34,45,16188,0.0,64,14,42,21,4,0.0,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.081116,10,30
11128047,34,45,15757,0.0,55,13,2,21,4,0.0,...,0.143433,0.182007,0.0,0.5,0.0,0.0,0.0,0.155884,10,30
11128048,34,45,19648,0.0,40,11,4,21,4,0.0,...,0.143433,NaN,0.0,0.0,0.0,0.0,NaN,-0.091736,10,30
11128049,34,45,969,0.0,37,11,1,21,4,0.0,...,0.143433,0.182007,0.5,0.0,0.0,0.0,0.0,-0.605957,10,30

In [53]:
matrix.groupby(['item_id','shop_id'])['date_block_num'].transform('min')

0            0
1            0
2            0
3            0
4            0
            ..
11128045    23
11128046    32
11128047     0
11128048    23
11128049    17
Name: date_block_num, Length: 11128050, dtype: int8

In [54]:
# 开始销量
matrix['item_shop_first_sale'] = matrix['date_block_num'] - matrix.groupby(['item_id','shop_id'])['date_block_num'].transform('min')
matrix['item_first_sale'] = matrix['date_block_num'] - matrix.groupby('item_id')['date_block_num'].transform('min')

In [55]:
# 因为有12个月的延迟特征（1，2，3，6，12）（1，2，3，4，5，6，12），所以需要删除前12月的数据
matrix = matrix[matrix['date_block_num'] > 11]

In [56]:
columns = matrix.columns
column_null = []
for i in columns:
    if len(matrix[matrix[i].isnull()]) > 0:
        column_null.append(i)
column_null

['item_cnt_month_lag_1',
 'item_cnt_month_lag_2',
 'item_cnt_month_lag_3',
 'item_cnt_month_lag_6',
 'item_cnt_month_lag_12',
 'date_avg_item_cnt_lag_1',
 'date_avg_item_cnt_lag_2',
 'date_avg_item_cnt_lag_3',
 'date_avg_item_cnt_lag_6',
 'date_avg_item_cnt_lag_12',
 'date_item_avg_item_cnt_lag_1',
 'date_item_avg_item_cnt_lag_2',
 'date_item_avg_item_cnt_lag_3',
 'date_item_avg_item_cnt_lag_6',
 'date_item_avg_item_cnt_lag_12',
 'date_shop_avg_item_cnt_lag_1',
 'date_shop_avg_item_cnt_lag_2',
 'date_shop_avg_item_cnt_lag_3',
 'date_shop_avg_item_cnt_lag_6',
 'date_shop_avg_item_cnt_lag_12',
 'date_cat_avg_item_cnt_lag_1',
 'date_cat_avg_item_cnt_lag_2',
 'date_cat_avg_item_cnt_lag_3',
 'date_cat_avg_item_cnt_lag_6',
 'date_cat_avg_item_cnt_lag_12',
 'date_cat_shop_avg_item_cnt_lag_1',
 'date_cat_shop_avg_item_cnt_lag_2',
 'date_cat_shop_avg_item_cnt_lag_3',
 'date_cat_shop_avg_item_cnt_lag_6',
 'date_cat_shop_avg_item_cnt_lag_12',
 'date_type_avg_item_cnt_lag_1',
 'date_type_avg_item_cnt_lag_2',
 'date_type_avg_item_cnt_lag_3',
 'date_type_avg_item_cnt_lag_6',
 'date_type_avg_item_cnt_lag_12',
 'date_city_avg_item_cnt_lag_1',
 'date_city_avg_item_cnt_lag_2',
 'date_city_avg_item_cnt_lag_3',
 'date_city_avg_item_cnt_lag_6',
 'date_city_avg_item_cnt_lag_12',
 'date_item_city_avg_item_cnt_lag_1',
 'date_item_city_avg_item_cnt_lag_2',
 'date_item_city_avg_item_cnt_lag_3',
 'date_item_city_avg_item_cnt_lag_6',
 'date_item_city_avg_item_cnt_lag_12']

In [57]:
for i in column_null:
    matrix[i].fillna(0, inplace=True)

d:\program files\python37\lib\site-packages\pandas\core\series.py:4523: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [58]:
columns = matrix.columns
column_null = []
for i in columns:
    if len(matrix[matrix[i].isnull()]) > 0:
        column_null.append(i)
column_null

[]

In [59]:
trainData = matrix[matrix['date_block_num'] < 34]
label_train = trainData['item_cnt_month']
X_train = trainData.drop('item_cnt_month', axis=1)

validData = matrix[matrix['date_block_num'] == 34]
label_valid = validData['item_cnt_month']
X_valid = validData.drop('item_cnt_month', axis=1)

In [61]:
import lightgbm as lgb
train_data = lgb.Dataset(data=X_train, label=label_train)
valid_data = lgb.Dataset(data=X_valid, label=label_valid)

In [62]:
params = {
    'objective': 'regression',  # 回归
    'metric': 'rmse',   # 回归问题选择rmse
    'n_estimators': 1000,
    'num_leaves': 200,   # 每个弱学习器拥有的叶子的数量
    'learning_rate': 0.01,
    'bagging_fraction': 0.9,    # 每次训练“弱学习器”用的数据比例（应该也是随机的），用于加快训练速度和减小过拟合
    'feature_fraction': 0.3,   # 每次迭代过程中，随机选择30%的特征建树（弱学习器）
    'bagging_seed': 0,
    'early_stop_rounds': 50
}

In [63]:
lgb_model = lgb.train(params, train_data, valid_sets=[train_data, valid_data])

d:\program files\python37\lib\site-packages\lightgbm\engine.py:151: UserWarning: Found `n_estimators` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

[LightGBM] [Warning] Unknown parameter: early_stop_rounds
[LightGBM] [Warning] Unknown parameter: early_stop_rounds
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.171824 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 9550
[LightGBM] [Info] Number of data points in the train set: 6425094, number of used features: 58
[LightGBM] [Warning] Unknown parameter: early_stop_rounds
[LightGBM] [Info] Start training from score 0.287729
[1]	training's rmse: 1.18208	valid_1's rmse: 0.287704
[2]	training's rmse: 1.17756	valid_1's rmse: 0.287803
[3]	training's rmse: 1.17314	valid_1's rmse: 0.288
[4]	training's rmse: 1.16812	valid_1's rmse: 0.288551
[5]	training's rmse: 1.16392	valid_1's rmse: 0.289066
[6]	training's rmse: 1.15909	valid_1's rmse: 0.28986
[7]	training's rmse: 1.15564	valid_1's rmse: 0.290797
[8]	training's rmse: 1.1508	valid_1's rmse: 0.291959
[9]	training's rmse: 1.14676	valid_1's rmse: 0.292698
[10]	training's rmse: 1.14329	valid_1's rmse: 0.293538
[11]	training's rmse: 1.13992	valid_1's rmse: 0.294883
[12]	training's rmse: 1.13581	valid_1's rmse: 0.295978
[13]	training's rmse: 1.13096	valid_1's rmse: 0.297627
[14]	training's rmse: 1.12674	valid_1's rmse: 0.298981
[15]	training's rmse: 1.12238	valid_1's rmse: 0.300684
[16]	training's rmse: 1.11853	valid_1's rmse: 0.302134
[17]	training's rmse: 1.1145	valid_1's rmse: 0.304053
[18]	training's rmse: 1.11049	valid_1's rmse: 0.306067
[19]	training's rmse: 1.10733	valid_1's rmse: 0.30756
[20]	training's rmse: 1.10421	valid_1's rmse: 0.309172
[21]	training's rmse: 1.10079	valid_1's rmse: 0.310837
[22]	training's rmse: 1.09815	valid_1's rmse: 0.312464
[23]	training's rmse: 1.09531	valid_1's rmse: 0.313959
[24]	training's rmse: 1.09187	valid_1's rmse: 0.315971
[25]	training's rmse: 1.08794	valid_1's rmse: 0.318489
[26]	training's rmse: 1.0848	valid_1's rmse: 0.320483
[27]	training's rmse: 1.08107	valid_1's rmse: 0.323074
[28]	training's rmse: 1.07773	valid_1's rmse: 0.325036
[29]	training's rmse: 1.07434	valid_1's rmse: 0.327255
[30]	training's rmse: 1.07115	valid_1's rmse: 0.329496
[31]	training's rmse: 1.06793	valid_1's rmse: 0.331879
[32]	training's rmse: 1.06463	valid_1's rmse: 0.33438
[33]	training's rmse: 1.06145	valid_1's rmse: 0.336864
[34]	training's rmse: 1.0582	valid_1's rmse: 0.339436
[35]	training's rmse: 1.05489	valid_1's rmse: 0.342384
[36]	training's rmse: 1.05179	valid_1's rmse: 0.345121
[37]	training's rmse: 1.0483	valid_1's rmse: 0.34825
[38]	training's rmse: 1.04527	valid_1's rmse: 0.351053
[39]	training's rmse: 1.04223	valid_1's rmse: 0.353642
[40]	training's rmse: 1.03901	valid_1's rmse: 0.356864
[41]	training's rmse: 1.03561	valid_1's rmse: 0.359543
[42]	training's rmse: 1.03346	valid_1's rmse: 0.361493
[43]	training's rmse: 1.03073	valid_1's rmse: 0.364312
[44]	training's rmse: 1.02762	valid_1's rmse: 0.367391
[45]	training's rmse: 1.02448	valid_1's rmse: 0.370113
[46]	training's rmse: 1.02185	valid_1's rmse: 0.372774
[47]	training's rmse: 1.0189	valid_1's rmse: 0.375666
[48]	training's rmse: 1.0167	valid_1's rmse: 0.378129
[49]	training's rmse: 1.01392	valid_1's rmse: 0.381091
[50]	training's rmse: 1.01158	valid_1's rmse: 0.383874
[51]	training's rmse: 1.00892	valid_1's rmse: 0.386575
[52]	training's rmse: 1.0062	valid_1's rmse: 0.389926
[53]	training's rmse: 1.00377	valid_1's rmse: 0.393293
[54]	training's rmse: 1.00195	valid_1's rmse: 0.395297
[55]	training's rmse: 0.999755	valid_1's rmse: 0.397673
[56]	training's rmse: 0.996682	valid_1's rmse: 0.400814
[57]	training's rmse: 0.994184	valid_1's rmse: 0.40386
[58]	training's rmse: 0.991756	valid_1's rmse: 0.407013
[59]	training's rmse: 0.989919	valid_1's rmse: 0.40954
[60]	training's rmse: 0.987521	valid_1's rmse: 0.412033
[61]	training's rmse: 0.985108	valid_1's rmse: 0.415198
[62]	training's rmse: 0.983429	valid_1's rmse: 0.41709
[63]	training's rmse: 0.981185	valid_1's rmse: 0.419798
[64]	training's rmse: 0.978966	valid_1's rmse: 0.422563
[65]	training's rmse: 0.976871	valid_1's rmse: 0.425029
[66]	training's rmse: 0.974655	valid_1's rmse: 0.427698
[67]	training's rmse: 0.972292	valid_1's rmse: 0.431007
[68]	training's rmse: 0.969985	valid_1's rmse: 0.434026
[69]	training's rmse: 0.967675	valid_1's rmse: 0.437677
[70]	training's rmse: 0.965966	valid_1's rmse: 0.440209
[71]	training's rmse: 0.963932	valid_1's rmse: 0.44226
[72]	training's rmse: 0.961782	valid_1's rmse: 0.445056
[73]	training's rmse: 0.959639	valid_1's rmse: 0.448017
[74]	training's rmse: 0.957719	valid_1's rmse: 0.450582
[75]	training's rmse: 0.955673	valid_1's rmse: 0.453513
[76]	training's rmse: 0.954331	valid_1's rmse: 0.455464
[77]	training's rmse: 0.952771	valid_1's rmse: 0.457814
[78]	training's rmse: 0.950883	valid_1's rmse: 0.460302
[79]	training's rmse: 0.949297	valid_1's rmse: 0.462865
[80]	training's rmse: 0.948087	valid_1's rmse: 0.464589
[81]	training's rmse: 0.946366	valid_1's rmse: 0.466928
[82]	training's rmse: 0.944769	valid_1's rmse: 0.469425
[83]	training's rmse: 0.942973	valid_1's rmse: 0.472196
[84]	training's rmse: 0.941179	valid_1's rmse: 0.474936
[85]	training's rmse: 0.939198	valid_1's rmse: 0.477018
[86]	training's rmse: 0.937349	valid_1's rmse: 0.48008
[87]	training's rmse: 0.935547	valid_1's rmse: 0.482597
[88]	training's rmse: 0.933986	valid_1's rmse: 0.484776
[89]	training's rmse: 0.932457	valid_1's rmse: 0.486978
[90]	training's rmse: 0.931018	valid_1's rmse: 0.489441
[91]	training's rmse: 0.929825	valid_1's rmse: 0.491039
[92]	training's rmse: 0.928391	valid_1's rmse: 0.493177
[93]	training's rmse: 0.926846	valid_1's rmse: 0.495827
[94]	training's rmse: 0.925426	valid_1's rmse: 0.497978
[95]	training's rmse: 0.923774	valid_1's rmse: 0.500398
[96]	training's rmse: 0.922085	valid_1's rmse: 0.502982
[97]	training's rmse: 0.921156	valid_1's rmse: 0.504587
[98]	training's rmse: 0.919812	valid_1's rmse: 0.506655
[99]	training's rmse: 0.918079	valid_1's rmse: 0.509661
[100]	training's rmse: 0.916504	valid_1's rmse: 0.512481
[101]	training's rmse: 0.915124	valid_1's rmse: 0.514521
[102]	training's rmse: 0.91381	valid_1's rmse: 0.516591
[103]	training's rmse: 0.912544	valid_1's rmse: 0.51878
[104]	training's rmse: 0.911336	valid_1's rmse: 0.521071
[105]	training's rmse: 0.909831	valid_1's rmse: 0.523415
[106]	training's rmse: 0.908562	valid_1's rmse: 0.525534
[107]	training's rmse: 0.907286	valid_1's rmse: 0.527616
[108]	training's rmse: 0.905808	valid_1's rmse: 0.529698
[109]	training's rmse: 0.904599	valid_1's rmse: 0.531598
[110]	training's rmse: 0.90322	valid_1's rmse: 0.534228
[111]	training's rmse: 0.901722	valid_1's rmse: 0.53664
[112]	training's rmse: 0.90062	valid_1's rmse: 0.538336
[113]	training's rmse: 0.89918	valid_1's rmse: 0.540127
[114]	training's rmse: 0.89796	valid_1's rmse: 0.542299
[115]	training's rmse: 0.896699	valid_1's rmse: 0.545136
[116]	training's rmse: 0.895583	valid_1's rmse: 0.547217
[117]	training's rmse: 0.894415	valid_1's rmse: 0.549468
[118]	training's rmse: 0.893233	valid_1's rmse: 0.551575
[119]	training's rmse: 0.89243	valid_1's rmse: 0.55307
[120]	training's rmse: 0.891469	valid_1's rmse: 0.555426
[121]	training's rmse: 0.890744	valid_1's rmse: 0.55703
[122]	training's rmse: 0.889559	valid_1's rmse: 0.559268
[123]	training's rmse: 0.888453	valid_1's rmse: 0.561701
[124]	training's rmse: 0.887435	valid_1's rmse: 0.563245
[125]	training's rmse: 0.886306	valid_1's rmse: 0.565441
[126]	training's rmse: 0.885141	valid_1's rmse: 0.567691
[127]	training's rmse: 0.884495	valid_1's rmse: 0.569347
[128]	training's rmse: 0.883448	valid_1's rmse: 0.570859
[129]	training's rmse: 0.882491	valid_1's rmse: 0.572883
[130]	training's rmse: 0.881578	valid_1's rmse: 0.574585
[131]	training's rmse: 0.880719	valid_1's rmse: 0.576575
[132]	training's rmse: 0.879961	valid_1's rmse: 0.578444
[133]	training's rmse: 0.87888	valid_1's rmse: 0.58052
[134]	training's rmse: 0.877986	valid_1's rmse: 0.582291
[135]	training's rmse: 0.876993	valid_1's rmse: 0.584407
[136]	training's rmse: 0.87641	valid_1's rmse: 0.585533
[137]	training's rmse: 0.875526	valid_1's rmse: 0.587738

[138]	training's rmse: 0.874901	valid_1's rmse: 0.58904
[139]	training's rmse: 0.873899	valid_1's rmse: 0.591128
[140]	training's rmse: 0.873106	valid_1's rmse: 0.592995
[141]	training's rmse: 0.872541	valid_1's rmse: 0.594177
[142]	training's rmse: 0.871866	valid_1's rmse: 0.595712
[143]	training's rmse: 0.87114	valid_1's rmse: 0.597159
[144]	training's rmse: 0.870239	valid_1's rmse: 0.598976
[145]	training's rmse: 0.869436	valid_1's rmse: 0.600765
[146]	training's rmse: 0.868472	valid_1's rmse: 0.602648
[147]	training's rmse: 0.867798	valid_1's rmse: 0.604334
[148]	training's rmse: 0.867024	valid_1's rmse: 0.605734
[149]	training's rmse: 0.86623	valid_1's rmse: 0.607794
[150]	training's rmse: 0.865246	valid_1's rmse: 0.609679
[151]	training's rmse: 0.864677	valid_1's rmse: 0.611442
[152]	training's rmse: 0.863817	valid_1's rmse: 0.613373
[153]	training's rmse: 0.863265	valid_1's rmse: 0.614584
[154]	training's rmse: 0.862375	valid_1's rmse: 0.616416
[155]	training's rmse: 0.861549	valid_1's rmse: 0.618504
[156]	training's rmse: 0.860732	valid_1's rmse: 0.620215
[157]	training's rmse: 0.860183	valid_1's rmse: 0.621115
[158]	training's rmse: 0.859496	valid_1's rmse: 0.623196
[159]	training's rmse: 0.858842	valid_1's rmse: 0.624868
[160]	training's rmse: 0.858073	valid_1's rmse: 0.626654
[161]	training's rmse: 0.857319	valid_1's rmse: 0.628337
[162]	training's rmse: 0.856479	valid_1's rmse: 0.630275
[163]	training's rmse: 0.856011	valid_1's rmse: 0.631497
[164]	training's rmse: 0.855352	valid_1's rmse: 0.632991
[165]	training's rmse: 0.85446	valid_1's rmse: 0.634058
[166]	training's rmse: 0.853939	valid_1's rmse: 0.635382
[167]	training's rmse: 0.853333	valid_1's rmse: 0.636719
[168]	training's rmse: 0.852661	valid_1's rmse: 0.63825
[169]	training's rmse: 0.851933	valid_1's rmse: 0.640116
[170]	training's rmse: 0.851383	valid_1's rmse: 0.641195
[171]	training's rmse: 0.850549	valid_1's rmse: 0.642655
[172]	training's rmse: 0.849569	valid_1's rmse: 0.644065
[173]	training's rmse: 0.848926	valid_1's rmse: 0.645313
[174]	training's rmse: 0.848335	valid_1's rmse: 0.646459
[175]	training's rmse: 0.847784	valid_1's rmse: 0.647506
[176]	training's rmse: 0.847214	valid_1's rmse: 0.648904
[177]	training's rmse: 0.846572	valid_1's rmse: 0.650919
[178]	training's rmse: 0.846116	valid_1's rmse: 0.652217
[179]	training's rmse: 0.845534	valid_1's rmse: 0.653721
[180]	training's rmse: 0.844805	valid_1's rmse: 0.655554
[181]	training's rmse: 0.844296	valid_1's rmse: 0.656654
[182]	training's rmse: 0.843898	valid_1's rmse: 0.657916
[183]	training's rmse: 0.843169	valid_1's rmse: 0.659244
[184]	training's rmse: 0.842732	valid_1's rmse: 0.660508
[185]	training's rmse: 0.842237	valid_1's rmse: 0.6619
[186]	training's rmse: 0.841779	valid_1's rmse: 0.662822
[187]	training's rmse: 0.841266	valid_1's rmse: 0.664588
[188]	training's rmse: 0.840825	valid_1's rmse: 0.665778
[189]	training's rmse: 0.840402	valid_1's rmse: 0.666636
[190]	training's rmse: 0.839954	valid_1's rmse: 0.66777
[191]	training's rmse: 0.839393	valid_1's rmse: 0.669382
[192]	training's rmse: 0.838914	valid_1's rmse: 0.670435
[193]	training's rmse: 0.838485	valid_1's rmse: 0.671993
[194]	training's rmse: 0.838034	valid_1's rmse: 0.673084
[195]	training's rmse: 0.837549	valid_1's rmse: 0.674078
[196]	training's rmse: 0.837194	valid_1's rmse: 0.674902
[197]	training's rmse: 0.836803	valid_1's rmse: 0.676287
[198]	training's rmse: 0.836277	valid_1's rmse: 0.67687
[199]	training's rmse: 0.835809	valid_1's rmse: 0.677604
[200]	training's rmse: 0.835011	valid_1's rmse: 0.67882
[201]	training's rmse: 0.834629	valid_1's rmse: 0.680132
[202]	training's rmse: 0.834097	valid_1's rmse: 0.680858
[203]	training's rmse: 0.833636	valid_1's rmse: 0.681765
[204]	training's rmse: 0.83325	valid_1's rmse: 0.682998
[205]	training's rmse: 0.832859	valid_1's rmse: 0.684078
[206]	training's rmse: 0.832353	valid_1's rmse: 0.684756
[207]	training's rmse: 0.831996	valid_1's rmse: 0.685797
[208]	training's rmse: 0.831449	valid_1's rmse: 0.687222
[209]	training's rmse: 0.83095	valid_1's rmse: 0.688592
[210]	training's rmse: 0.830428	valid_1's rmse: 0.690119
[211]	training's rmse: 0.830091	valid_1's rmse: 0.69119
[212]	training's rmse: 0.829708	valid_1's rmse: 0.692277
[213]	training's rmse: 0.828879	valid_1's rmse: 0.69364
[214]	training's rmse: 0.828447	valid_1's rmse: 0.694268
[215]	training's rmse: 0.82795	valid_1's rmse: 0.695251
[216]	training's rmse: 0.827581	valid_1's rmse: 0.696619
[217]	training's rmse: 0.827215	valid_1's rmse: 0.697544
[218]	training's rmse: 0.82668	valid_1's rmse: 0.699026
[219]	training's rmse: 0.826483	valid_1's rmse: 0.699749
[220]	training's rmse: 0.826152	valid_1's rmse: 0.70091
[221]	training's rmse: 0.825699	valid_1's rmse: 0.701644
[222]	training's rmse: 0.824998	valid_1's rmse: 0.702853
[223]	training's rmse: 0.824606	valid_1's rmse: 0.70381
[224]	training's rmse: 0.824153	valid_1's rmse: 0.704949
[225]	training's rmse: 0.823744	valid_1's rmse: 0.70594
[226]	training's rmse: 0.823448	valid_1's rmse: 0.706764
[227]	training's rmse: 0.823123	valid_1's rmse: 0.707376
[228]	training's rmse: 0.822868	valid_1's rmse: 0.708004
[229]	training's rmse: 0.822492	valid_1's rmse: 0.708705
[230]	training's rmse: 0.822232	valid_1's rmse: 0.709578
[231]	training's rmse: 0.821935	valid_1's rmse: 0.710696
[232]	training's rmse: 0.821624	valid_1's rmse: 0.711494
[233]	training's rmse: 0.821362	valid_1's rmse: 0.712469
[234]	training's rmse: 0.821093	valid_1's rmse: 0.713066
[235]	training's rmse: 0.820385	valid_1's rmse: 0.714009
[236]	training's rmse: 0.820065	valid_1's rmse: 0.714577
[237]	training's rmse: 0.81981	valid_1's rmse: 0.715084
[238]	training's rmse: 0.819584	valid_1's rmse: 0.715673
[239]	training's rmse: 0.819148	valid_1's rmse: 0.71653
[240]	training's rmse: 0.818866	valid_1's rmse: 0.717499
[241]	training's rmse: 0.818515	valid_1's rmse: 0.718055
[242]	training's rmse: 0.818272	valid_1's rmse: 0.71871
[243]	training's rmse: 0.817886	valid_1's rmse: 0.719968
[244]	training's rmse: 0.817292	valid_1's rmse: 0.720448
[245]	training's rmse: 0.816862	valid_1's rmse: 0.721498
[246]	training's rmse: 0.816477	valid_1's rmse: 0.722626
[247]	training's rmse: 0.816124	valid_1's rmse: 0.723417
[248]	training's rmse: 0.815741	valid_1's rmse: 0.724585
[249]	training's rmse: 0.815495	valid_1's rmse: 0.725134
[250]	training's rmse: 0.815191	valid_1's rmse: 0.726191
[251]	training's rmse: 0.814844	valid_1's rmse: 0.726856
[252]	training's rmse: 0.814593	valid_1's rmse: 0.72738
[253]	training's rmse: 0.814273	valid_1's rmse: 0.728014
[254]	training's rmse: 0.814054	valid_1's rmse: 0.728729
[255]	training's rmse: 0.813865	valid_1's rmse: 0.729398
[256]	training's rmse: 0.813589	valid_1's rmse: 0.730367
[257]	training's rmse: 0.813377	valid_1's rmse: 0.73112
[258]	training's rmse: 0.813184	valid_1's rmse: 0.73166
[259]	training's rmse: 0.812914	valid_1's rmse: 0.732412
[260]	training's rmse: 0.812679	valid_1's rmse: 0.732887
[261]	training's rmse: 0.812472	valid_1's rmse: 0.733526
[262]	training's rmse: 0.812121	valid_1's rmse: 0.733975
[263]	training's rmse: 0.811881	valid_1's rmse: 0.734372
[264]	training's rmse: 0.811685	valid_1's rmse: 0.735203
[265]	training's rmse: 0.811354	valid_1's rmse: 0.736409
[266]	training's rmse: 0.811124	valid_1's rmse: 0.737212
[267]	training's rmse: 0.810929	valid_1's rmse: 0.737898
[268]	training's rmse: 0.810421	valid_1's rmse: 0.738249
[269]	training's rmse: 0.810076	valid_1's rmse: 0.738977
[270]	training's rmse: 0.809843	valid_1's rmse: 0.739523
[271]	training's rmse: 0.80965	valid_1's rmse: 0.740055
[272]	training's rmse: 0.809464	valid_1's rmse: 0.740693
[273]	training's rmse: 0.809199	valid_1's rmse: 0.741218
[274]	training's rmse: 0.808929	valid_1's rmse: 0.742336
[275]	training's rmse: 0.808713	valid_1's rmse: 0.743123
[276]	training's rmse: 0.80851	valid_1's rmse: 0.743786
[277]	training's rmse: 0.808277	valid_1's rmse: 0.744528
[278]	training's rmse: 0.808086	valid_1's rmse: 0.745178
[279]	training's rmse: 0.807811	valid_1's rmse: 0.745901
[280]	training's rmse: 0.807449	valid_1's rmse: 0.746697
[281]	training's rmse: 0.807194	valid_1's rmse: 0.747271
[282]	training's rmse: 0.806928	valid_1's rmse: 0.747792

[283]	training's rmse: 0.806698	valid_1's rmse: 0.748451
[284]	training's rmse: 0.806556	valid_1's rmse: 0.748851
[285]	training's rmse: 0.806345	valid_1's rmse: 0.749452
[286]	training's rmse: 0.806167	valid_1's rmse: 0.750104
[287]	training's rmse: 0.805897	valid_1's rmse: 0.75058
[288]	training's rmse: 0.805662	valid_1's rmse: 0.750943
[289]	training's rmse: 0.805488	valid_1's rmse: 0.751339
[290]	training's rmse: 0.805324	valid_1's rmse: 0.751634
[291]	training's rmse: 0.804829	valid_1's rmse: 0.752374
[292]	training's rmse: 0.804634	valid_1's rmse: 0.753033
[293]	training's rmse: 0.804385	valid_1's rmse: 0.753481
[294]	training's rmse: 0.804042	valid_1's rmse: 0.754236
[295]	training's rmse: 0.80352	valid_1's rmse: 0.754491
[296]	training's rmse: 0.803351	valid_1's rmse: 0.755418
[297]	training's rmse: 0.803122	valid_1's rmse: 0.756066
[298]	training's rmse: 0.802961	valid_1's rmse: 0.756426
[299]	training's rmse: 0.802783	valid_1's rmse: 0.756904
[300]	training's rmse: 0.802551	valid_1's rmse: 0.757605
[301]	training's rmse: 0.80237	valid_1's rmse: 0.758121
[302]	training's rmse: 0.802081	valid_1's rmse: 0.758984
[303]	training's rmse: 0.80195	valid_1's rmse: 0.759314
[304]	training's rmse: 0.801644	valid_1's rmse: 0.760379
[305]	training's rmse: 0.801525	valid_1's rmse: 0.760589
[306]	training's rmse: 0.801341	valid_1's rmse: 0.760834
[307]	training's rmse: 0.801042	valid_1's rmse: 0.761862
[308]	training's rmse: 0.800825	valid_1's rmse: 0.762652
[309]	training's rmse: 0.800653	valid_1's rmse: 0.763164
[310]	training's rmse: 0.80044	valid_1's rmse: 0.763356
[311]	training's rmse: 0.800301	valid_1's rmse: 0.763715
[312]	training's rmse: 0.799875	valid_1's rmse: 0.764195
[313]	training's rmse: 0.799627	valid_1's rmse: 0.76478
[314]	training's rmse: 0.799281	valid_1's rmse: 0.76555
[315]	training's rmse: 0.799024	valid_1's rmse: 0.76628
[316]	training's rmse: 0.798864	valid_1's rmse: 0.766965
[317]	training's rmse: 0.798462	valid_1's rmse: 0.767525
[318]	training's rmse: 0.798222	valid_1's rmse: 0.767879
[319]	training's rmse: 0.797924	valid_1's rmse: 0.768628
[320]	training's rmse: 0.797709	valid_1's rmse: 0.769154
[321]	training's rmse: 0.797597	valid_1's rmse: 0.769447
[322]	training's rmse: 0.797373	valid_1's rmse: 0.769974
[323]	training's rmse: 0.797169	valid_1's rmse: 0.770363
[324]	training's rmse: 0.797042	valid_1's rmse: 0.770394
[325]	training's rmse: 0.7969	valid_1's rmse: 0.770648
[326]	training's rmse: 0.79677	valid_1's rmse: 0.770719
[327]	training's rmse: 0.796316	valid_1's rmse: 0.771547
[328]	training's rmse: 0.796095	valid_1's rmse: 0.772226
[329]	training's rmse: 0.795878	valid_1's rmse: 0.772605
[330]	training's rmse: 0.795722	valid_1's rmse: 0.772933
[331]	training's rmse: 0.795495	valid_1's rmse: 0.77308
[332]	training's rmse: 0.795371	valid_1's rmse: 0.773463
[333]	training's rmse: 0.795198	valid_1's rmse: 0.773697
[334]	training's rmse: 0.794984	valid_1's rmse: 0.774243
[335]	training's rmse: 0.794716	valid_1's rmse: 0.77492
[336]	training's rmse: 0.794529	valid_1's rmse: 0.775439
[337]	training's rmse: 0.794315	valid_1's rmse: 0.775676
[338]	training's rmse: 0.794145	valid_1's rmse: 0.775975
[339]	training's rmse: 0.793817	valid_1's rmse: 0.776727
[340]	training's rmse: 0.79365	valid_1's rmse: 0.777006
[341]	training's rmse: 0.793473	valid_1's rmse: 0.777339
[342]	training's rmse: 0.793281	valid_1's rmse: 0.777434
[343]	training's rmse: 0.793123	valid_1's rmse: 0.777942
[344]	training's rmse: 0.793031	valid_1's rmse: 0.778211
[345]	training's rmse: 0.792786	valid_1's rmse: 0.77889
[346]	training's rmse: 0.792669	valid_1's rmse: 0.77935
[347]	training's rmse: 0.792511	valid_1's rmse: 0.779882
[348]	training's rmse: 0.792356	valid_1's rmse: 0.780604
[349]	training's rmse: 0.792182	valid_1's rmse: 0.781117
[350]	training's rmse: 0.791921	valid_1's rmse: 0.781795
[351]	training's rmse: 0.791693	valid_1's rmse: 0.781952
[352]	training's rmse: 0.791546	valid_1's rmse: 0.782254
[353]	training's rmse: 0.791417	valid_1's rmse: 0.782631
[354]	training's rmse: 0.791258	valid_1's rmse: 0.782877
[355]	training's rmse: 0.791123	valid_1's rmse: 0.783338
[356]	training's rmse: 0.790934	valid_1's rmse: 0.783581
[357]	training's rmse: 0.7908	valid_1's rmse: 0.784141
[358]	training's rmse: 0.790706	valid_1's rmse: 0.784199
[359]	training's rmse: 0.790548	valid_1's rmse: 0.78419
[360]	training's rmse: 0.790365	valid_1's rmse: 0.784748
[361]	training's rmse: 0.79026	valid_1's rmse: 0.785079
[362]	training's rmse: 0.790143	valid_1's rmse: 0.785309
[363]	training's rmse: 0.79002	valid_1's rmse: 0.785647
[364]	training's rmse: 0.789859	valid_1's rmse: 0.786006
[365]	training's rmse: 0.789721	valid_1's rmse: 0.786581
[366]	training's rmse: 0.789544	valid_1's rmse: 0.786956
[367]	training's rmse: 0.789125	valid_1's rmse: 0.787419
[368]	training's rmse: 0.789018	valid_1's rmse: 0.787617
[369]	training's rmse: 0.78885	valid_1's rmse: 0.787804
[370]	training's rmse: 0.788569	valid_1's rmse: 0.788231
[371]	training's rmse: 0.788447	valid_1's rmse: 0.788564
[372]	training's rmse: 0.788101	valid_1's rmse: 0.789277
[373]	training's rmse: 0.78802	valid_1's rmse: 0.78937
[374]	training's rmse: 0.787859	valid_1's rmse: 0.789528
[375]	training's rmse: 0.787728	valid_1's rmse: 0.789812
[376]	training's rmse: 0.787445	valid_1's rmse: 0.7902
[377]	training's rmse: 0.787343	valid_1's rmse: 0.790616
[378]	training's rmse: 0.787251	valid_1's rmse: 0.790822
[379]	training's rmse: 0.787125	valid_1's rmse: 0.791145
[380]	training's rmse: 0.786924	valid_1's rmse: 0.791258
[381]	training's rmse: 0.786756	valid_1's rmse: 0.791287
[382]	training's rmse: 0.786433	valid_1's rmse: 0.79204
[383]	training's rmse: 0.786211	valid_1's rmse: 0.792459
[384]	training's rmse: 0.78606	valid_1's rmse: 0.792648
[385]	training's rmse: 0.785849	valid_1's rmse: 0.792896
[386]	training's rmse: 0.785693	valid_1's rmse: 0.793322
[387]	training's rmse: 0.785547	valid_1's rmse: 0.793744
[388]	training's rmse: 0.785318	valid_1's rmse: 0.794316
[389]	training's rmse: 0.785144	valid_1's rmse: 0.794605
[390]	training's rmse: 0.784729	valid_1's rmse: 0.795214
[391]	training's rmse: 0.784551	valid_1's rmse: 0.79538
[392]	training's rmse: 0.784456	valid_1's rmse: 0.795546
[393]	training's rmse: 0.784335	valid_1's rmse: 0.795733
[394]	training's rmse: 0.784232	valid_1's rmse: 0.796038
[395]	training's rmse: 0.784068	valid_1's rmse: 0.796089
[396]	training's rmse: 0.783872	valid_1's rmse: 0.796342
[397]	training's rmse: 0.783503	valid_1's rmse: 0.796827
[398]	training's rmse: 0.783227	valid_1's rmse: 0.797265
[399]	training's rmse: 0.783053	valid_1's rmse: 0.797407
[400]	training's rmse: 0.782938	valid_1's rmse: 0.797389
[401]	training's rmse: 0.782779	valid_1's rmse: 0.79741
[402]	training's rmse: 0.782616	valid_1's rmse: 0.797612
[403]	training's rmse: 0.782502	valid_1's rmse: 0.797754
[404]	training's rmse: 0.782397	valid_1's rmse: 0.79781
[405]	training's rmse: 0.782265	valid_1's rmse: 0.798096
[406]	training's rmse: 0.782061	valid_1's rmse: 0.798299
[407]	training's rmse: 0.781951	valid_1's rmse: 0.798623
[408]	training's rmse: 0.781783	valid_1's rmse: 0.798878
[409]	training's rmse: 0.781678	valid_1's rmse: 0.799086
[410]	training's rmse: 0.781536	valid_1's rmse: 0.799416
[411]	training's rmse: 0.781292	valid_1's rmse: 0.799639
[412]	training's rmse: 0.781192	valid_1's rmse: 0.799845
[413]	training's rmse: 0.781029	valid_1's rmse: 0.800182
[414]	training's rmse: 0.780826	valid_1's rmse: 0.800775
[415]	training's rmse: 0.780658	valid_1's rmse: 0.800981
[416]	training's rmse: 0.78052	valid_1's rmse: 0.801329
[417]	training's rmse: 0.780401	valid_1's rmse: 0.801548
[418]	training's rmse: 0.780317	valid_1's rmse: 0.801716
[419]	training's rmse: 0.780163	valid_1's rmse: 0.801958
[420]	training's rmse: 0.780068	valid_1's rmse: 0.802065
[421]	training's rmse: 0.779998	valid_1's rmse: 0.802147
[422]	training's rmse: 0.779896	valid_1's rmse: 0.802169
[423]	training's rmse: 0.779733	valid_1's rmse: 0.802191
[424]	training's rmse: 0.779635	valid_1's rmse: 0.802372
[425]	training's rmse: 0.779236	valid_1's rmse: 0.802864
[426]	training's rmse: 0.779061	valid_1's rmse: 0.803206
[427]	training's rmse: 0.778945	valid_1's rmse: 0.80342

[428]	training's rmse: 0.778668	valid_1's rmse: 0.803978
[429]	training's rmse: 0.778486	valid_1's rmse: 0.80463
[430]	training's rmse: 0.77832	valid_1's rmse: 0.804776
[431]	training's rmse: 0.778159	valid_1's rmse: 0.805046
[432]	training's rmse: 0.778077	valid_1's rmse: 0.805255
[433]	training's rmse: 0.777963	valid_1's rmse: 0.805344
[434]	training's rmse: 0.777843	valid_1's rmse: 0.805572
[435]	training's rmse: 0.777758	valid_1's rmse: 0.80577
[436]	training's rmse: 0.777685	valid_1's rmse: 0.805973
[437]	training's rmse: 0.777608	valid_1's rmse: 0.806138
[438]	training's rmse: 0.777509	valid_1's rmse: 0.806407
[439]	training's rmse: 0.777424	valid_1's rmse: 0.80648
[440]	training's rmse: 0.777292	valid_1's rmse: 0.806521
[441]	training's rmse: 0.777208	valid_1's rmse: 0.806716
[442]	training's rmse: 0.777126	valid_1's rmse: 0.806966
[443]	training's rmse: 0.776967	valid_1's rmse: 0.807361
[444]	training's rmse: 0.776879	valid_1's rmse: 0.807648
[445]	training's rmse: 0.776705	valid_1's rmse: 0.807668
[446]	training's rmse: 0.776567	valid_1's rmse: 0.807757
[447]	training's rmse: 0.776275	valid_1's rmse: 0.80785
[448]	training's rmse: 0.776193	valid_1's rmse: 0.807885
[449]	training's rmse: 0.776062	valid_1's rmse: 0.808121
[450]	training's rmse: 0.775981	valid_1's rmse: 0.80834
[451]	training's rmse: 0.775873	valid_1's rmse: 0.808477
[452]	training's rmse: 0.775774	valid_1's rmse: 0.80871
[453]	training's rmse: 0.775598	valid_1's rmse: 0.808641
[454]	training's rmse: 0.775473	valid_1's rmse: 0.809021
[455]	training's rmse: 0.77533	valid_1's rmse: 0.809456
[456]	training's rmse: 0.775207	valid_1's rmse: 0.809759
[457]	training's rmse: 0.775066	valid_1's rmse: 0.810095
[458]	training's rmse: 0.774958	valid_1's rmse: 0.810331
[459]	training's rmse: 0.774841	valid_1's rmse: 0.810685
[460]	training's rmse: 0.774743	valid_1's rmse: 0.810726
[461]	training's rmse: 0.774685	valid_1's rmse: 0.81086
[462]	training's rmse: 0.774546	valid_1's rmse: 0.811143
[463]	training's rmse: 0.774453	valid_1's rmse: 0.811217
[464]	training's rmse: 0.774333	valid_1's rmse: 0.811385
[465]	training's rmse: 0.774209	valid_1's rmse: 0.811622
[466]	training's rmse: 0.774051	valid_1's rmse: 0.811551
[467]	training's rmse: 0.773962	valid_1's rmse: 0.811714
[468]	training's rmse: 0.773853	valid_1's rmse: 0.812027
[469]	training's rmse: 0.773782	valid_1's rmse: 0.812125
[470]	training's rmse: 0.773665	valid_1's rmse: 0.81221
[471]	training's rmse: 0.773582	valid_1's rmse: 0.812415
[472]	training's rmse: 0.773402	valid_1's rmse: 0.812401
[473]	training's rmse: 0.773322	valid_1's rmse: 0.81251
[474]	training's rmse: 0.773254	valid_1's rmse: 0.812567
[475]	training's rmse: 0.773187	valid_1's rmse: 0.812851
[476]	training's rmse: 0.773093	valid_1's rmse: 0.81285
[477]	training's rmse: 0.773	valid_1's rmse: 0.813053
[478]	training's rmse: 0.772934	valid_1's rmse: 0.813084
[479]	training's rmse: 0.772849	valid_1's rmse: 0.813165
[480]	training's rmse: 0.772778	valid_1's rmse: 0.813323
[481]	training's rmse: 0.772649	valid_1's rmse: 0.813503
[482]	training's rmse: 0.772578	valid_1's rmse: 0.813678
[483]	training's rmse: 0.772434	valid_1's rmse: 0.813718
[484]	training's rmse: 0.772303	valid_1's rmse: 0.814049
[485]	training's rmse: 0.772166	valid_1's rmse: 0.814503
[486]	training's rmse: 0.772087	valid_1's rmse: 0.814746
[487]	training's rmse: 0.772012	valid_1's rmse: 0.814752
[488]	training's rmse: 0.771882	valid_1's rmse: 0.81511
[489]	training's rmse: 0.771734	valid_1's rmse: 0.815435
[490]	training's rmse: 0.771645	valid_1's rmse: 0.815576
[491]	training's rmse: 0.771543	valid_1's rmse: 0.815527
[492]	training's rmse: 0.77111	valid_1's rmse: 0.815499
[493]	training's rmse: 0.771038	valid_1's rmse: 0.815695
[494]	training's rmse: 0.77094	valid_1's rmse: 0.815961
[495]	training's rmse: 0.770858	valid_1's rmse: 0.816124
[496]	training's rmse: 0.77077	valid_1's rmse: 0.81641
[497]	training's rmse: 0.770694	valid_1's rmse: 0.81654
[498]	training's rmse: 0.770618	valid_1's rmse: 0.816751
[499]	training's rmse: 0.770551	valid_1's rmse: 0.816848
[500]	training's rmse: 0.770467	valid_1's rmse: 0.81691
[501]	training's rmse: 0.770326	valid_1's rmse: 0.817248
[502]	training's rmse: 0.770231	valid_1's rmse: 0.817345
[503]	training's rmse: 0.770151	valid_1's rmse: 0.817422
[504]	training's rmse: 0.770052	valid_1's rmse: 0.817579
[505]	training's rmse: 0.769962	valid_1's rmse: 0.817631
[506]	training's rmse: 0.769891	valid_1's rmse: 0.81793
[507]	training's rmse: 0.769817	valid_1's rmse: 0.818055
[508]	training's rmse: 0.769673	valid_1's rmse: 0.818469
[509]	training's rmse: 0.769597	valid_1's rmse: 0.81845
[510]	training's rmse: 0.769446	valid_1's rmse: 0.818731
[511]	training's rmse: 0.769353	valid_1's rmse: 0.81889
[512]	training's rmse: 0.769239	valid_1's rmse: 0.819022
[513]	training's rmse: 0.769116	valid_1's rmse: 0.819363
[514]	training's rmse: 0.769013	valid_1's rmse: 0.819555
[515]	training's rmse: 0.768855	valid_1's rmse: 0.8196
[516]	training's rmse: 0.768744	valid_1's rmse: 0.819983
[517]	training's rmse: 0.768614	valid_1's rmse: 0.820074
[518]	training's rmse: 0.76852	valid_1's rmse: 0.820319
[519]	training's rmse: 0.768456	valid_1's rmse: 0.820483
[520]	training's rmse: 0.76838	valid_1's rmse: 0.8206
[521]	training's rmse: 0.768306	valid_1's rmse: 0.820702
[522]	training's rmse: 0.768163	valid_1's rmse: 0.820724
[523]	training's rmse: 0.768093	valid_1's rmse: 0.820866
[524]	training's rmse: 0.768032	valid_1's rmse: 0.821102
[525]	training's rmse: 0.767933	valid_1's rmse: 0.821111
[526]	training's rmse: 0.767808	valid_1's rmse: 0.821411
[527]	training's rmse: 0.767662	valid_1's rmse: 0.821546
[528]	training's rmse: 0.767583	valid_1's rmse: 0.821754
[529]	training's rmse: 0.767483	valid_1's rmse: 0.821791
[530]	training's rmse: 0.767335	valid_1's rmse: 0.821671
[531]	training's rmse: 0.767243	valid_1's rmse: 0.821809
[532]	training's rmse: 0.767161	valid_1's rmse: 0.822125
[533]	training's rmse: 0.767073	valid_1's rmse: 0.822724
[534]	training's rmse: 0.767005	valid_1's rmse: 0.822836
[535]	training's rmse: 0.766876	valid_1's rmse: 0.8232
[536]	training's rmse: 0.766737	valid_1's rmse: 0.823123
[537]	training's rmse: 0.766661	valid_1's rmse: 0.823109
[538]	training's rmse: 0.76657	valid_1's rmse: 0.823176
[539]	training's rmse: 0.766469	valid_1's rmse: 0.823337
[540]	training's rmse: 0.766325	valid_1's rmse: 0.823689
[541]	training's rmse: 0.76624	valid_1's rmse: 0.823719
[542]	training's rmse: 0.766122	valid_1's rmse: 0.824221
[543]	training's rmse: 0.766011	valid_1's rmse: 0.824286
[544]	training's rmse: 0.765935	valid_1's rmse: 0.824295
[545]	training's rmse: 0.765859	valid_1's rmse: 0.824413
[546]	training's rmse: 0.765788	valid_1's rmse: 0.824551
[547]	training's rmse: 0.765641	valid_1's rmse: 0.824542
[548]	training's rmse: 0.765549	valid_1's rmse: 0.824759
[549]	training's rmse: 0.765472	valid_1's rmse: 0.824717
[550]	training's rmse: 0.765399	valid_1's rmse: 0.824759
[551]	training's rmse: 0.765338	valid_1's rmse: 0.824811
[552]	training's rmse: 0.76522	valid_1's rmse: 0.825046
[553]	training's rmse: 0.765104	valid_1's rmse: 0.825312
[554]	training's rmse: 0.765004	valid_1's rmse: 0.82554
[555]	training's rmse: 0.764859	valid_1's rmse: 0.825675
[556]	training's rmse: 0.764734	valid_1's rmse: 0.825955
[557]	training's rmse: 0.764631	valid_1's rmse: 0.826128
[558]	training's rmse: 0.764539	valid_1's rmse: 0.826138
[559]	training's rmse: 0.764477	valid_1's rmse: 0.826037
[560]	training's rmse: 0.764408	valid_1's rmse: 0.826183
[561]	training's rmse: 0.76432	valid_1's rmse: 0.826212
[562]	training's rmse: 0.764264	valid_1's rmse: 0.826267
[563]	training's rmse: 0.764208	valid_1's rmse: 0.826337
[564]	training's rmse: 0.764156	valid_1's rmse: 0.826412
[565]	training's rmse: 0.764091	valid_1's rmse: 0.826507
[566]	training's rmse: 0.764032	valid_1's rmse: 0.826582
[567]	training's rmse: 0.763944	valid_1's rmse: 0.826713
[568]	training's rmse: 0.763893	valid_1's rmse: 0.826739
[569]	training's rmse: 0.763837	valid_1's rmse: 0.826772
[570]	training's rmse: 0.76375	valid_1's rmse: 0.826964
[571]	training's rmse: 0.763665	valid_1's rmse: 0.827037
[572]	training's rmse: 0.763548	valid_1's rmse: 0.82722

[573]	training's rmse: 0.763464	valid_1's rmse: 0.82721
[574]	training's rmse: 0.763413	valid_1's rmse: 0.827222
[575]	training's rmse: 0.763325	valid_1's rmse: 0.827346
[576]	training's rmse: 0.763243	valid_1's rmse: 0.827522
[577]	training's rmse: 0.76285	valid_1's rmse: 0.827493
[578]	training's rmse: 0.762752	valid_1's rmse: 0.827624
[579]	training's rmse: 0.76262	valid_1's rmse: 0.827839
[580]	training's rmse: 0.762555	valid_1's rmse: 0.827918
[581]	training's rmse: 0.762474	valid_1's rmse: 0.827923
[582]	training's rmse: 0.762346	valid_1's rmse: 0.827994
[583]	training's rmse: 0.762279	valid_1's rmse: 0.828076
[584]	training's rmse: 0.762221	valid_1's rmse: 0.828168
[585]	training's rmse: 0.762099	valid_1's rmse: 0.828161
[586]	training's rmse: 0.762022	valid_1's rmse: 0.828124
[587]	training's rmse: 0.761952	valid_1's rmse: 0.828186
[588]	training's rmse: 0.761847	valid_1's rmse: 0.82847
[589]	training's rmse: 0.761766	valid_1's rmse: 0.828435
[590]	training's rmse: 0.761695	valid_1's rmse: 0.828397
[591]	training's rmse: 0.76162	valid_1's rmse: 0.828514
[592]	training's rmse: 0.761513	valid_1's rmse: 0.828558
[593]	training's rmse: 0.761427	valid_1's rmse: 0.82866
[594]	training's rmse: 0.761112	valid_1's rmse: 0.82888
[595]	training's rmse: 0.761057	valid_1's rmse: 0.828936
[596]	training's rmse: 0.760968	valid_1's rmse: 0.829016
[597]	training's rmse: 0.760886	valid_1's rmse: 0.828994
[598]	training's rmse: 0.76084	valid_1's rmse: 0.829015
[599]	training's rmse: 0.7606	valid_1's rmse: 0.829399
[600]	training's rmse: 0.760504	valid_1's rmse: 0.82949
[601]	training's rmse: 0.760446	valid_1's rmse: 0.829665
[602]	training's rmse: 0.760362	valid_1's rmse: 0.829756
[603]	training's rmse: 0.76031	valid_1's rmse: 0.829786
[604]	training's rmse: 0.760257	valid_1's rmse: 0.82989
[605]	training's rmse: 0.760202	valid_1's rmse: 0.830072
[606]	training's rmse: 0.760073	valid_1's rmse: 0.83001
[607]	training's rmse: 0.760014	valid_1's rmse: 0.830376
[608]	training's rmse: 0.759866	valid_1's rmse: 0.830527
[609]	training's rmse: 0.759772	valid_1's rmse: 0.830616
[610]	training's rmse: 0.759703	valid_1's rmse: 0.830728
[611]	training's rmse: 0.759639	valid_1's rmse: 0.830671
[612]	training's rmse: 0.75959	valid_1's rmse: 0.830825
[613]	training's rmse: 0.759518	valid_1's rmse: 0.830901
[614]	training's rmse: 0.759443	valid_1's rmse: 0.830899
[615]	training's rmse: 0.759162	valid_1's rmse: 0.831192
[616]	training's rmse: 0.759111	valid_1's rmse: 0.831304
[617]	training's rmse: 0.758868	valid_1's rmse: 0.831561
[618]	training's rmse: 0.758801	valid_1's rmse: 0.831704
[619]	training's rmse: 0.758702	valid_1's rmse: 0.831903
[620]	training's rmse: 0.758638	valid_1's rmse: 0.831896
[621]	training's rmse: 0.758564	valid_1's rmse: 0.831917
[622]	training's rmse: 0.758506	valid_1's rmse: 0.831939
[623]	training's rmse: 0.758368	valid_1's rmse: 0.832319
[624]	training's rmse: 0.758315	valid_1's rmse: 0.832305
[625]	training's rmse: 0.758245	valid_1's rmse: 0.832827
[626]	training's rmse: 0.758142	valid_1's rmse: 0.832861
[627]	training's rmse: 0.758045	valid_1's rmse: 0.833323
[628]	training's rmse: 0.757977	valid_1's rmse: 0.833313
[629]	training's rmse: 0.757874	valid_1's rmse: 0.833234
[630]	training's rmse: 0.757775	valid_1's rmse: 0.833282
[631]	training's rmse: 0.757717	valid_1's rmse: 0.833332
[632]	training's rmse: 0.757627	valid_1's rmse: 0.83341
[633]	training's rmse: 0.757543	valid_1's rmse: 0.833446
[634]	training's rmse: 0.757435	valid_1's rmse: 0.833591
[635]	training's rmse: 0.757341	valid_1's rmse: 0.833673
[636]	training's rmse: 0.757298	valid_1's rmse: 0.833717
[637]	training's rmse: 0.757239	valid_1's rmse: 0.833761
[638]	training's rmse: 0.757182	valid_1's rmse: 0.833754
[639]	training's rmse: 0.75712	valid_1's rmse: 0.833752
[640]	training's rmse: 0.757063	valid_1's rmse: 0.83378
[641]	training's rmse: 0.756938	valid_1's rmse: 0.833758
[642]	training's rmse: 0.756869	valid_1's rmse: 0.833702
[643]	training's rmse: 0.756725	valid_1's rmse: 0.834152
[644]	training's rmse: 0.756656	valid_1's rmse: 0.834208
[645]	training's rmse: 0.75658	valid_1's rmse: 0.834283
[646]	training's rmse: 0.75651	valid_1's rmse: 0.834397
[647]	training's rmse: 0.75646	valid_1's rmse: 0.834471
[648]	training's rmse: 0.756391	valid_1's rmse: 0.83442
[649]	training's rmse: 0.756319	valid_1's rmse: 0.834412
[650]	training's rmse: 0.756257	valid_1's rmse: 0.834341
[651]	training's rmse: 0.756207	valid_1's rmse: 0.834632
[652]	training's rmse: 0.756155	valid_1's rmse: 0.834621
[653]	training's rmse: 0.756079	valid_1's rmse: 0.834773
[654]	training's rmse: 0.756035	valid_1's rmse: 0.834833
[655]	training's rmse: 0.755898	valid_1's rmse: 0.834993
[656]	training's rmse: 0.755846	valid_1's rmse: 0.835047
[657]	training's rmse: 0.755797	valid_1's rmse: 0.835109
[658]	training's rmse: 0.755725	valid_1's rmse: 0.835233
[659]	training's rmse: 0.755622	valid_1's rmse: 0.835157
[660]	training's rmse: 0.755491	valid_1's rmse: 0.835162
[661]	training's rmse: 0.755451	valid_1's rmse: 0.835251
[662]	training's rmse: 0.755337	valid_1's rmse: 0.835538
[663]	training's rmse: 0.755221	valid_1's rmse: 0.835562
[664]	training's rmse: 0.755166	valid_1's rmse: 0.835639
[665]	training's rmse: 0.75508	valid_1's rmse: 0.835711
[666]	training's rmse: 0.755039	valid_1's rmse: 0.83596
[667]	training's rmse: 0.754964	valid_1's rmse: 0.835892
[668]	training's rmse: 0.754911	valid_1's rmse: 0.835908
[669]	training's rmse: 0.754871	valid_1's rmse: 0.835919
[670]	training's rmse: 0.754816	valid_1's rmse: 0.835953
[671]	training's rmse: 0.75473	valid_1's rmse: 0.835851
[672]	training's rmse: 0.754681	valid_1's rmse: 0.835888
[673]	training's rmse: 0.754631	valid_1's rmse: 0.836193
[674]	training's rmse: 0.754588	valid_1's rmse: 0.836222
[675]	training's rmse: 0.754539	valid_1's rmse: 0.836412
[676]	training's rmse: 0.754485	valid_1's rmse: 0.836449
[677]	training's rmse: 0.754412	valid_1's rmse: 0.836561
[678]	training's rmse: 0.754345	valid_1's rmse: 0.836693
[679]	training's rmse: 0.754275	valid_1's rmse: 0.836704
[680]	training's rmse: 0.754183	valid_1's rmse: 0.836759
[681]	training's rmse: 0.754072	valid_1's rmse: 0.836662
[682]	training's rmse: 0.754007	valid_1's rmse: 0.836682
[683]	training's rmse: 0.753921	valid_1's rmse: 0.837115
[684]	training's rmse: 0.753857	valid_1's rmse: 0.837196
[685]	training's rmse: 0.753805	valid_1's rmse: 0.837331
[686]	training's rmse: 0.753731	valid_1's rmse: 0.837397
[687]	training's rmse: 0.753674	valid_1's rmse: 0.837451
[688]	training's rmse: 0.753614	valid_1's rmse: 0.837481
[689]	training's rmse: 0.753565	valid_1's rmse: 0.837474
[690]	training's rmse: 0.753496	valid_1's rmse: 0.83748
[691]	training's rmse: 0.753453	valid_1's rmse: 0.83748
[692]	training's rmse: 0.753377	valid_1's rmse: 0.837444
[693]	training's rmse: 0.753318	valid_1's rmse: 0.837379
[694]	training's rmse: 0.753277	valid_1's rmse: 0.837484
[695]	training's rmse: 0.753232	valid_1's rmse: 0.837471
[696]	training's rmse: 0.753144	valid_1's rmse: 0.837536
[697]	training's rmse: 0.753075	valid_1's rmse: 0.837827
[698]	training's rmse: 0.753034	valid_1's rmse: 0.837821
[699]	training's rmse: 0.752939	valid_1's rmse: 0.83797
[700]	training's rmse: 0.752884	valid_1's rmse: 0.837992
[701]	training's rmse: 0.752823	valid_1's rmse: 0.837975
[702]	training's rmse: 0.752747	valid_1's rmse: 0.838099
[703]	training's rmse: 0.752679	valid_1's rmse: 0.838176
[704]	training's rmse: 0.752626	valid_1's rmse: 0.838215
[705]	training's rmse: 0.752499	valid_1's rmse: 0.838644
[706]	training's rmse: 0.752458	valid_1's rmse: 0.83867
[707]	training's rmse: 0.752375	valid_1's rmse: 0.838733
[708]	training's rmse: 0.752323	valid_1's rmse: 0.838704
[709]	training's rmse: 0.752267	valid_1's rmse: 0.838875
[710]	training's rmse: 0.752207	valid_1's rmse: 0.83892
[711]	training's rmse: 0.752107	valid_1's rmse: 0.839197
[712]	training's rmse: 0.752004	valid_1's rmse: 0.839358
[713]	training's rmse: 0.751933	valid_1's rmse: 0.839403
[714]	training's rmse: 0.751879	valid_1's rmse: 0.839447
[715]	training's rmse: 0.751813	valid_1's rmse: 0.839635
[716]	training's rmse: 0.751744	valid_1's rmse: 0.839955
[717]	training's rmse: 0.751651	valid_1's rmse: 0.840141

[718]	training's rmse: 0.75159	valid_1's rmse: 0.840221
[719]	training's rmse: 0.751529	valid_1's rmse: 0.840404
[720]	training's rmse: 0.75148	valid_1's rmse: 0.84052
[721]	training's rmse: 0.75143	valid_1's rmse: 0.840623
[722]	training's rmse: 0.751377	valid_1's rmse: 0.840683
[723]	training's rmse: 0.751337	valid_1's rmse: 0.840758
[724]	training's rmse: 0.751243	valid_1's rmse: 0.840867
[725]	training's rmse: 0.751199	valid_1's rmse: 0.840978
[726]	training's rmse: 0.751144	valid_1's rmse: 0.84104
[727]	training's rmse: 0.751076	valid_1's rmse: 0.841057
[728]	training's rmse: 0.751029	valid_1's rmse: 0.841529
[729]	training's rmse: 0.75099	valid_1's rmse: 0.841603
[730]	training's rmse: 0.750896	valid_1's rmse: 0.841598
[731]	training's rmse: 0.750816	valid_1's rmse: 0.841709
[732]	training's rmse: 0.750768	valid_1's rmse: 0.841719
[733]	training's rmse: 0.750727	valid_1's rmse: 0.84175
[734]	training's rmse: 0.750661	valid_1's rmse: 0.84181
[735]	training's rmse: 0.750576	valid_1's rmse: 0.841895
[736]	training's rmse: 0.750478	valid_1's rmse: 0.842109
[737]	training's rmse: 0.750354	valid_1's rmse: 0.842427
[738]	training's rmse: 0.750286	valid_1's rmse: 0.842477
[739]	training's rmse: 0.750217	valid_1's rmse: 0.842947
[740]	training's rmse: 0.750156	valid_1's rmse: 0.842921
[741]	training's rmse: 0.750089	valid_1's rmse: 0.842923
[742]	training's rmse: 0.749993	valid_1's rmse: 0.842888
[743]	training's rmse: 0.749897	valid_1's rmse: 0.842916
[744]	training's rmse: 0.749854	valid_1's rmse: 0.842925
[745]	training's rmse: 0.749794	valid_1's rmse: 0.842984
[746]	training's rmse: 0.749714	valid_1's rmse: 0.842919
[747]	training's rmse: 0.749644	valid_1's rmse: 0.842959
[748]	training's rmse: 0.749586	valid_1's rmse: 0.842962
[749]	training's rmse: 0.74954	valid_1's rmse: 0.843101
[750]	training's rmse: 0.749493	valid_1's rmse: 0.843309
[751]	training's rmse: 0.74942	valid_1's rmse: 0.843299
[752]	training's rmse: 0.749354	valid_1's rmse: 0.843302
[753]	training's rmse: 0.749308	valid_1's rmse: 0.84332
[754]	training's rmse: 0.749269	valid_1's rmse: 0.843343
[755]	training's rmse: 0.749216	valid_1's rmse: 0.843392
[756]	training's rmse: 0.74917	valid_1's rmse: 0.843384
[757]	training's rmse: 0.749112	valid_1's rmse: 0.843477
[758]	training's rmse: 0.749056	valid_1's rmse: 0.843459
[759]	training's rmse: 0.748976	valid_1's rmse: 0.843466
[760]	training's rmse: 0.748923	valid_1's rmse: 0.843511
[761]	training's rmse: 0.74883	valid_1's rmse: 0.84366
[762]	training's rmse: 0.748763	valid_1's rmse: 0.843712
[763]	training's rmse: 0.748708	valid_1's rmse: 0.843787
[764]	training's rmse: 0.748653	valid_1's rmse: 0.84385
[765]	training's rmse: 0.748442	valid_1's rmse: 0.844352
[766]	training's rmse: 0.748368	valid_1's rmse: 0.844481
[767]	training's rmse: 0.748319	valid_1's rmse: 0.844523
[768]	training's rmse: 0.748265	valid_1's rmse: 0.844618
[769]	training's rmse: 0.74821	valid_1's rmse: 0.844711
[770]	training's rmse: 0.748165	valid_1's rmse: 0.844937
[771]	training's rmse: 0.748086	valid_1's rmse: 0.845356
[772]	training's rmse: 0.748035	valid_1's rmse: 0.845386
[773]	training's rmse: 0.747987	valid_1's rmse: 0.845419
[774]	training's rmse: 0.747931	valid_1's rmse: 0.845397
[775]	training's rmse: 0.747887	valid_1's rmse: 0.845481
[776]	training's rmse: 0.747811	valid_1's rmse: 0.845452
[777]	training's rmse: 0.747771	valid_1's rmse: 0.845463
[778]	training's rmse: 0.747716	valid_1's rmse: 0.845397
[779]	training's rmse: 0.747647	valid_1's rmse: 0.845423
[780]	training's rmse: 0.747594	valid_1's rmse: 0.845475
[781]	training's rmse: 0.747541	valid_1's rmse: 0.845462
[782]	training's rmse: 0.747468	valid_1's rmse: 0.845594
[783]	training's rmse: 0.747408	valid_1's rmse: 0.845668
[784]	training's rmse: 0.747345	valid_1's rmse: 0.845633
[785]	training's rmse: 0.747288	valid_1's rmse: 0.845631
[786]	training's rmse: 0.747214	valid_1's rmse: 0.845795
[787]	training's rmse: 0.747173	valid_1's rmse: 0.845759
[788]	training's rmse: 0.747118	valid_1's rmse: 0.845747
[789]	training's rmse: 0.747081	valid_1's rmse: 0.845746
[790]	training's rmse: 0.747006	valid_1's rmse: 0.845809
[791]	training's rmse: 0.746913	valid_1's rmse: 0.845824
[792]	training's rmse: 0.74685	valid_1's rmse: 0.845779
[793]	training's rmse: 0.746801	valid_1's rmse: 0.845799
[794]	training's rmse: 0.746733	valid_1's rmse: 0.845852
[795]	training's rmse: 0.746694	valid_1's rmse: 0.845832
[796]	training's rmse: 0.746631	valid_1's rmse: 0.845866
[797]	training's rmse: 0.746565	valid_1's rmse: 0.84589
[798]	training's rmse: 0.746509	valid_1's rmse: 0.845877
[799]	training's rmse: 0.746406	valid_1's rmse: 0.845871
[800]	training's rmse: 0.746366	valid_1's rmse: 0.84586
[801]	training's rmse: 0.746294	valid_1's rmse: 0.845821
[802]	training's rmse: 0.746247	valid_1's rmse: 0.845802
[803]	training's rmse: 0.746182	valid_1's rmse: 0.845817
[804]	training's rmse: 0.746143	valid_1's rmse: 0.845849
[805]	training's rmse: 0.746097	valid_1's rmse: 0.845921
[806]	training's rmse: 0.74605	valid_1's rmse: 0.845921
[807]	training's rmse: 0.745995	valid_1's rmse: 0.845902
[808]	training's rmse: 0.745867	valid_1's rmse: 0.846217
[809]	training's rmse: 0.745824	valid_1's rmse: 0.84617
[810]	training's rmse: 0.745763	valid_1's rmse: 0.846182
[811]	training's rmse: 0.745722	valid_1's rmse: 0.846195
[812]	training's rmse: 0.745624	valid_1's rmse: 0.846227
[813]	training's rmse: 0.745578	valid_1's rmse: 0.846245
[814]	training's rmse: 0.745499	valid_1's rmse: 0.846197
[815]	training's rmse: 0.745415	valid_1's rmse: 0.84631
[816]	training's rmse: 0.745375	valid_1's rmse: 0.846361
[817]	training's rmse: 0.745313	valid_1's rmse: 0.846389
[818]	training's rmse: 0.745262	valid_1's rmse: 0.84643
[819]	training's rmse: 0.745217	valid_1's rmse: 0.846487
[820]	training's rmse: 0.745157	valid_1's rmse: 0.846517
[821]	training's rmse: 0.745103	valid_1's rmse: 0.846479
[822]	training's rmse: 0.745016	valid_1's rmse: 0.846398
[823]	training's rmse: 0.744967	valid_1's rmse: 0.84648
[824]	training's rmse: 0.74493	valid_1's rmse: 0.846511
[825]	training's rmse: 0.744858	valid_1's rmse: 0.846639
[826]	training's rmse: 0.744813	valid_1's rmse: 0.846814
[827]	training's rmse: 0.744752	valid_1's rmse: 0.846846
[828]	training's rmse: 0.74471	valid_1's rmse: 0.846885
[829]	training's rmse: 0.744648	valid_1's rmse: 0.846786
[830]	training's rmse: 0.744606	valid_1's rmse: 0.846753
[831]	training's rmse: 0.744537	valid_1's rmse: 0.846787
[832]	training's rmse: 0.744477	valid_1's rmse: 0.846872
[833]	training's rmse: 0.744442	valid_1's rmse: 0.846837
[834]	training's rmse: 0.744384	valid_1's rmse: 0.846788
[835]	training's rmse: 0.74434	valid_1's rmse: 0.846805
[836]	training's rmse: 0.744258	valid_1's rmse: 0.846778
[837]	training's rmse: 0.744203	valid_1's rmse: 0.846856
[838]	training's rmse: 0.744152	valid_1's rmse: 0.846852
[839]	training's rmse: 0.744109	valid_1's rmse: 0.846912
[840]	training's rmse: 0.744057	valid_1's rmse: 0.846946
[841]	training's rmse: 0.74399	valid_1's rmse: 0.84696
[842]	training's rmse: 0.743716	valid_1's rmse: 0.84674
[843]	training's rmse: 0.743687	valid_1's rmse: 0.846755
[844]	training's rmse: 0.743631	valid_1's rmse: 0.846827
[845]	training's rmse: 0.743552	valid_1's rmse: 0.846915
[846]	training's rmse: 0.743465	valid_1's rmse: 0.847138
[847]	training's rmse: 0.743434	valid_1's rmse: 0.847159
[848]	training's rmse: 0.743369	valid_1's rmse: 0.847534
[849]	training's rmse: 0.743335	valid_1's rmse: 0.84755
[850]	training's rmse: 0.743297	valid_1's rmse: 0.847548
[851]	training's rmse: 0.74326	valid_1's rmse: 0.84759
[852]	training's rmse: 0.743177	valid_1's rmse: 0.847687
[853]	training's rmse: 0.743139	valid_1's rmse: 0.84769
[854]	training's rmse: 0.743062	valid_1's rmse: 0.847793
[855]	training's rmse: 0.743027	valid_1's rmse: 0.847819
[856]	training's rmse: 0.742993	valid_1's rmse: 0.847834
[857]	training's rmse: 0.742942	valid_1's rmse: 0.847841
[858]	training's rmse: 0.742889	valid_1's rmse: 0.847853
[859]	training's rmse: 0.74284	valid_1's rmse: 0.847906
[860]	training's rmse: 0.742781	valid_1's rmse: 0.847891
[861]	training's rmse: 0.742738	valid_1's rmse: 0.847964
[862]	training's rmse: 0.742664	valid_1's rmse: 0.847921

[863]	training's rmse: 0.742623	valid_1's rmse: 0.848015
[864]	training's rmse: 0.74259	valid_1's rmse: 0.847988
[865]	training's rmse: 0.742539	valid_1's rmse: 0.847987
[866]	training's rmse: 0.742507	valid_1's rmse: 0.848028
[867]	training's rmse: 0.742467	valid_1's rmse: 0.848039
[868]	training's rmse: 0.742416	valid_1's rmse: 0.848001
[869]	training's rmse: 0.742373	valid_1's rmse: 0.847973
[870]	training's rmse: 0.74233	valid_1's rmse: 0.847954
[871]	training's rmse: 0.742299	valid_1's rmse: 0.848003
[872]	training's rmse: 0.742252	valid_1's rmse: 0.848005
[873]	training's rmse: 0.742211	valid_1's rmse: 0.848051
[874]	training's rmse: 0.742162	valid_1's rmse: 0.848039
[875]	training's rmse: 0.742053	valid_1's rmse: 0.848254
[876]	training's rmse: 0.741984	valid_1's rmse: 0.848238
[877]	training's rmse: 0.741915	valid_1's rmse: 0.84855
[878]	training's rmse: 0.741846	valid_1's rmse: 0.848559
[879]	training's rmse: 0.741806	valid_1's rmse: 0.848588
[880]	training's rmse: 0.741768	valid_1's rmse: 0.848621
[881]	training's rmse: 0.741727	valid_1's rmse: 0.848615
[882]	training's rmse: 0.74169	valid_1's rmse: 0.848688
[883]	training's rmse: 0.741659	valid_1's rmse: 0.848746
[884]	training's rmse: 0.741628	valid_1's rmse: 0.848748
[885]	training's rmse: 0.741588	valid_1's rmse: 0.848853
[886]	training's rmse: 0.741551	valid_1's rmse: 0.848921
[887]	training's rmse: 0.741517	valid_1's rmse: 0.848941
[888]	training's rmse: 0.741474	valid_1's rmse: 0.849618
[889]	training's rmse: 0.741411	valid_1's rmse: 0.849612
[890]	training's rmse: 0.741378	valid_1's rmse: 0.849694
[891]	training's rmse: 0.741337	valid_1's rmse: 0.849709
[892]	training's rmse: 0.741289	valid_1's rmse: 0.8498
[893]	training's rmse: 0.741258	valid_1's rmse: 0.849798
[894]	training's rmse: 0.741198	valid_1's rmse: 0.849881
[895]	training's rmse: 0.741165	valid_1's rmse: 0.849867
[896]	training's rmse: 0.741102	valid_1's rmse: 0.849859
[897]	training's rmse: 0.741068	valid_1's rmse: 0.849795
[898]	training's rmse: 0.741004	valid_1's rmse: 0.849719
[899]	training's rmse: 0.740973	valid_1's rmse: 0.849734
[900]	training's rmse: 0.740941	valid_1's rmse: 0.849755
[901]	training's rmse: 0.740892	valid_1's rmse: 0.84967
[902]	training's rmse: 0.740795	valid_1's rmse: 0.849903
[903]	training's rmse: 0.740766	valid_1's rmse: 0.849925
[904]	training's rmse: 0.740714	valid_1's rmse: 0.849922
[905]	training's rmse: 0.740684	valid_1's rmse: 0.849938
[906]	training's rmse: 0.740616	valid_1's rmse: 0.85002
[907]	training's rmse: 0.740583	valid_1's rmse: 0.850035
[908]	training's rmse: 0.740549	valid_1's rmse: 0.850061
[909]	training's rmse: 0.740504	valid_1's rmse: 0.850007
[910]	training's rmse: 0.740467	valid_1's rmse: 0.849989
[911]	training's rmse: 0.740432	valid_1's rmse: 0.850146
[912]	training's rmse: 0.740369	valid_1's rmse: 0.850186
[913]	training's rmse: 0.740306	valid_1's rmse: 0.850178
[914]	training's rmse: 0.740271	valid_1's rmse: 0.850272
[915]	training's rmse: 0.740215	valid_1's rmse: 0.85026
[916]	training's rmse: 0.740152	valid_1's rmse: 0.850223
[917]	training's rmse: 0.740114	valid_1's rmse: 0.850176
[918]	training's rmse: 0.740067	valid_1's rmse: 0.850213
[919]	training's rmse: 0.740023	valid_1's rmse: 0.850188
[920]	training's rmse: 0.739969	valid_1's rmse: 0.850195
[921]	training's rmse: 0.739902	valid_1's rmse: 0.850163
[922]	training's rmse: 0.739854	valid_1's rmse: 0.850149
[923]	training's rmse: 0.739806	valid_1's rmse: 0.850005
[924]	training's rmse: 0.739759	valid_1's rmse: 0.850068
[925]	training's rmse: 0.739676	valid_1's rmse: 0.85008
[926]	training's rmse: 0.739637	valid_1's rmse: 0.850053
[927]	training's rmse: 0.739606	valid_1's rmse: 0.850049
[928]	training's rmse: 0.739568	valid_1's rmse: 0.850079
[929]	training's rmse: 0.739523	valid_1's rmse: 0.850068
[930]	training's rmse: 0.739483	valid_1's rmse: 0.850118
[931]	training's rmse: 0.739434	valid_1's rmse: 0.850167
[932]	training's rmse: 0.739351	valid_1's rmse: 0.850358
[933]	training's rmse: 0.739284	valid_1's rmse: 0.850387
[934]	training's rmse: 0.739213	valid_1's rmse: 0.850597
[935]	training's rmse: 0.739153	valid_1's rmse: 0.850568
[936]	training's rmse: 0.739106	valid_1's rmse: 0.850653
[937]	training's rmse: 0.739077	valid_1's rmse: 0.850719
[938]	training's rmse: 0.739035	valid_1's rmse: 0.85069
[939]	training's rmse: 0.738977	valid_1's rmse: 0.850702
[940]	training's rmse: 0.738913	valid_1's rmse: 0.850604
[941]	training's rmse: 0.738843	valid_1's rmse: 0.850592
[942]	training's rmse: 0.73879	valid_1's rmse: 0.850659
[943]	training's rmse: 0.738753	valid_1's rmse: 0.850681
[944]	training's rmse: 0.738681	valid_1's rmse: 0.850749
[945]	training's rmse: 0.738647	valid_1's rmse: 0.850788
[946]	training's rmse: 0.738609	valid_1's rmse: 0.850792
[947]	training's rmse: 0.738564	valid_1's rmse: 0.850785
[948]	training's rmse: 0.738531	valid_1's rmse: 0.850781
[949]	training's rmse: 0.73848	valid_1's rmse: 0.850746
[950]	training's rmse: 0.738435	valid_1's rmse: 0.850688
[951]	training's rmse: 0.738362	valid_1's rmse: 0.850756
[952]	training's rmse: 0.738334	valid_1's rmse: 0.850786
[953]	training's rmse: 0.738301	valid_1's rmse: 0.850768
[954]	training's rmse: 0.738234	valid_1's rmse: 0.850705
[955]	training's rmse: 0.738187	valid_1's rmse: 0.851116
[956]	training's rmse: 0.738117	valid_1's rmse: 0.851141
[957]	training's rmse: 0.738054	valid_1's rmse: 0.851176
[958]	training's rmse: 0.738017	valid_1's rmse: 0.851224
[959]	training's rmse: 0.737982	valid_1's rmse: 0.851358
[960]	training's rmse: 0.737928	valid_1's rmse: 0.851345
[961]	training's rmse: 0.737893	valid_1's rmse: 0.851338
[962]	training's rmse: 0.737856	valid_1's rmse: 0.851351
[963]	training's rmse: 0.737823	valid_1's rmse: 0.851384
[964]	training's rmse: 0.737768	valid_1's rmse: 0.851379
[965]	training's rmse: 0.737729	valid_1's rmse: 0.851443
[966]	training's rmse: 0.737695	valid_1's rmse: 0.851458
[967]	training's rmse: 0.737638	valid_1's rmse: 0.851456
[968]	training's rmse: 0.737599	valid_1's rmse: 0.851462
[969]	training's rmse: 0.737533	valid_1's rmse: 0.851521
[970]	training's rmse: 0.737502	valid_1's rmse: 0.851547
[971]	training's rmse: 0.737448	valid_1's rmse: 0.851596
[972]	training's rmse: 0.737378	valid_1's rmse: 0.851588
[973]	training's rmse: 0.737307	valid_1's rmse: 0.851751
[974]	training's rmse: 0.737262	valid_1's rmse: 0.851784
[975]	training's rmse: 0.737228	valid_1's rmse: 0.851859
[976]	training's rmse: 0.737175	valid_1's rmse: 0.852011
[977]	training's rmse: 0.737121	valid_1's rmse: 0.85198
[978]	training's rmse: 0.737043	valid_1's rmse: 0.851849
[979]	training's rmse: 0.737007	valid_1's rmse: 0.851851
[980]	training's rmse: 0.736969	valid_1's rmse: 0.851829
[981]	training's rmse: 0.736937	valid_1's rmse: 0.851852
[982]	training's rmse: 0.736896	valid_1's rmse: 0.851805
[983]	training's rmse: 0.736859	valid_1's rmse: 0.851813
[984]	training's rmse: 0.736805	valid_1's rmse: 0.851829
[985]	training's rmse: 0.736774	valid_1's rmse: 0.851842
[986]	training's rmse: 0.73673	valid_1's rmse: 0.851989
[987]	training's rmse: 0.736686	valid_1's rmse: 0.85217
[988]	training's rmse: 0.736647	valid_1's rmse: 0.852199
[989]	training's rmse: 0.736604	valid_1's rmse: 0.852175
[990]	training's rmse: 0.736564	valid_1's rmse: 0.852126
[991]	training's rmse: 0.73651	valid_1's rmse: 0.852167
[992]	training's rmse: 0.736479	valid_1's rmse: 0.852265
[993]	training's rmse: 0.736326	valid_1's rmse: 0.852371
[994]	training's rmse: 0.736294	valid_1's rmse: 0.852413
[995]	training's rmse: 0.736253	valid_1's rmse: 0.852444
[996]	training's rmse: 0.736205	valid_1's rmse: 0.852491
[997]	training's rmse: 0.736164	valid_1's rmse: 0.852536
[998]	training's rmse: 0.736133	valid_1's rmse: 0.852555
[999]	training's rmse: 0.736101	valid_1's rmse: 0.852557
[1000]	training's rmse: 0.736061	valid_1's rmse: 0.852574

In [64]:
# test数据
testData = matrix[matrix['date_block_num'] == 34]
X_test = testData.drop('item_cnt_month', axis=1)

In [65]:
# 预测&生成文件
y_test = lgb_model.predict(X_test).clip(0, 20)
submission = pd.DataFrame({ 'ID': range(0, 214200), 'item_cnt_month': y_test})
submission.to_csv('./submit/sub3.csv', index=False)