In [12]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from icecream import ic
from sklearn.preprocessing import LabelEncoder
import time
from itertools import product
from icecream import ic


plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

sales_train = pd.read_csv('./data/sales_train.csv')
test = pd.read_csv('./data/test.csv')   # (214200, 3)

In [13]:
sales_train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [14]:
sales_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB

In [15]:
sales_by_item_id = sales_train.pivot_table(index=['item_id'], values=['item_cnt_day'], columns='date_block_num', aggfunc=np.sum, fill_value=0).reset_index()
sales_by_item_id.columns = sales_by_item_id.columns.droplevel().map(str)   # 去掉第一层索引
sales_by_item_id.columns.values[0] = 'item_id'
sales_by_item_id = sales_by_item_id.rename_axis(None, axis=1)

In [16]:
sales_by_item_id

,item_id,0,1,2,3,4,5,6,7,8,...,24,25,26,27,28,29,30,31,32,33
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21802,22165,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21803,22166,0,0,0,0,0,0,0,0,0,...,7,8,12,4,8,10,8,11,5,11
21804,22167,0,0,0,0,0,0,0,0,56,...,33,46,40,38,31,33,34,29,21,37
21805,22168,2,2,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21806,22169,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
sales_by_item_id.columns

Index(['item_id', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33'],
      dtype='object')

In [19]:
sales_by_item_id

,item_id,0,1,2,3,4,5,6,7,8,...,24,25,26,27,28,29,30,31,32,33
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21802,22165,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21803,22166,0,0,0,0,0,0,0,0,0,...,7,8,12,4,8,10,8,11,5,11
21804,22167,0,0,0,0,0,0,0,0,56,...,33,46,40,38,31,33,34,29,21,37
21805,22168,2,2,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21806,22169,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# 获取最近6个月销售量为0的数据
six_zero = sales_by_item_id[(sales_by_item_id['28'] == 0) & (sales_by_item_id['29'] == 0) & (sales_by_item_id['30'] == 0) & (sales_by_item_id['31'] == 0) & (sales_by_item_id['32'] == 0) & (sales_by_item_id['33'] == 0)]

In [21]:
six_zero

,item_id,0,1,2,3,4,5,6,7,8,...,24,25,26,27,28,29,30,31,32,33
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21797,22160,11,7,6,2,6,4,2,4,3,...,0,0,0,0,0,0,0,0,0,0
21798,22161,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21802,22165,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21805,22168,2,2,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21806,22169,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# six_zero_item_id = list(six_zero['item_id'].values)   # item_id列表
# test.loc[test.item_id.isin(six_zero_item_id), 'item_cnt_month'] = 0  # 将test数据中（最近六个月销量为0）的数据月销量设为0，有7812个

In [27]:
# 计算每个商店每个月的销量
sales_by_shop_id = sales_train.pivot_table(index=['shop_id'], values=['item_cnt_day'], aggfunc=np.sum, fill_value=0, columns='date_block_num').reset_index()
sales_by_shop_id.columns = sales_by_shop_id.columns.droplevel().map(str)    # 将两层column转化为一层column,保留下层column
sales_by_shop_id.columns.values[0] = 'shop_id'
sales_by_shop_id = sales_by_shop_id.rename_axis(None, axis=1)   # 将列方向的轴重命名为none

sales_by_shop_id

,shop_id,0,1,2,3,4,5,6,7,8,...,24,25,26,27,28,29,30,31,32,33
0,0,5578,6127,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2947,3364,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1146,488,753,583,553,832,807,875,945,...,987,907,762,859,843,804,785,942,822,727
3,3,767,798,959,647,710,784,721,890,1026,...,977,738,741,740,731,672,535,666,745,613
4,4,2114,2025,2060,285,1211,1464,1378,1713,1536,...,1188,980,978,899,893,793,842,947,732,831
5,5,0,877,1355,1008,1110,1393,1265,1510,1298,...,1404,1101,1109,1054,1012,954,991,1294,1092,1052
6,6,3686,4007,4519,3168,3022,3847,3360,3702,4208,...,2328,2329,1981,1998,1748,1539,1484,1575,1725,1802
7,7,2495,2513,2460,1540,1647,2085,2031,2397,2599,...,2084,1847,1430,1340,1217,1235,1327,1409,1287,1212
8,8,1463,1156,977,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,0,0,0,0,0,0,0,0,0,...,0,0,0,-1,0,0,0,0,0,3186
10,10,935,1026,1017,756,683,764,800,755,1027,...,628,0,565,594,466,441,449,442,519,428
11,11,0,0,0,0,0,0,0,0,0,...,0,572,0,0,0,0,0,0,0,0
12,12,842,1209,1419,1364,917,1710,723,1599,2032,...,2832,1854,1886,3244,3949,1830,1554,1471,5215,4181
13,13,1178,1036,1245,1018,1104,1358,1094,944,1153,...,0,0,0,0,0,0,0,0,0,0
14,14,1777,1795,1893,1247,1489,1863,1709,2216,796,...,1233,1007,1002,1055,933,1019,954,1061,1094,1002
15,15,2724,2746,2835,2168,1931,2419,2599,2536,2790,...,2046,1528,1384,1364,1277,1332,1316,1360,1267,1243
16,16,2978,2614,3088,2118,2261,3075,2898,2457,1924,...,1698,1336,1187,1110,1187,1038,1114,1231,1067,963
17,17,0,0,0,0,0,906,1044,1306,1459,...,689,0,0,0,0,0,0,0,0,0
18,18,2856,3341,3551,2421,2944,3144,2676,1778,2774,...,1337,1420,1435,1515,1434,1212,987,1184,1404,1211
19,19,3038,2834,3020,2291,2089,2638,2459,2675,2801,...,2108,1779,1547,1562,1459,1300,1440,1533,1231,1449
20,20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2611
21,21,1495,1854,2233,1846,1646,1912,1860,2061,2486,...,1923,1839,1687,2053,1717,1844,1741,1622,1900,1912
22,22,1924,2447,2588,2297,1755,2243,1903,2017,2518,...,1255,1301,1547,1664,1357,1102,993,1044,1432,1336
23,23,1948,1941,2118,1698,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,24,1768,1782,2014,787,1967,2599,2377,2304,3072,...,1750,1309,1284,1297,1137,882,1014,1186,1492,1227
25,25,8215,7934,9732,7867,6860,8478,7361,7784,9251,...,6611,5566,6007,6135,5712,5093,4676,4675,5893,6247
26,26,2331,2597,3036,2381,2148,2661,2163,2452,3206,...,1715,1339,1486,1527,1358,953,1007,1189,1553,1409
27,27,5548,4546,5454,3946,3518,275,4148,4925,4981,...,5660,3839,3634,3518,3786,3357,2478,0,-1,0
28,28,7057,5438,6918,4910,5703,7056,6739,7521,6753,...,6879,4234,4139,3686,3784,3921,3612,3749,2979,3018
29,29,2820,2834,3151,2252,2345,2803,2205,2073,2832,...,1564,1273,1239,1216,880,0,0,0,0,0
30,30,2978,2717,3026,2379,2304,2794,2438,2799,3023,...,1842,745,0,0,0,0,0,0,0,0
31,31,10173,11160,12670,9621,9423,10072,9500,9882,11204,...,8815,7404,7294,7341,6327,6160,5987,5714,6505,6112
32,32,1238,1494,1890,1364,1209,1493,93,0,0,...,0,0,0,0,0,0,0,0,0,0
33,33,0,0,0,0,0,0,0,0,0,...,1006,792,505,-1,0,0,0,0,0,0
34,34,0,0,0,0,0,0,0,0,0,...,473,390,431,424,409,385,460,484,420,383
35,35,2127,2205,2568,1845,2048,2280,2041,2391,2473,...,1993,1550,1641,1570,1537,1227,1299,1653,1548,1418
36,36,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,330
37,37,2399,2216,2629,1946,2019,1829,1293,1472,1666,...,1144,988,990,1109,979,804,1041,1248,978,833
38,38,1704,1670,2009,1375,1337,1539,1453,1895,1666,...,1441,1403,1543,1338,1257,1141,1354,1781,1345,1110
39,39,0,0,0,0,0,0,0,0,0,...,888,773,873,754,840,642,638,910,907,997
40,40,0,0,0,0,0,0,0,0,0,...,443,0,0,0,0,0,0,0,0,0
41,41,1998,1856,1816,1387,1597,2185,1997,2149,2146,...,1314,925,848,725,931,680,737,892,686,742
42,42,3991,3965,4953,3978,3594,4349,3801,4035,5093,...,4125,4063,4133,4648,4343,3618,3578,3832,4237,4491
43,43,1759,2033,2504,1880,1624,2060,1632,1849,2768,...,1340,0,0,0,0,0,0,0,0,0
44,44,1708,1823,2131,1628,1379,1666,1487,1610,1849,...,932,917,913,887,820,619,678,769,759,779
45,45,1634,1530,1883,1253,1333,1785,1507,1649,1725,...,980,796,740,862,762,622,675,710,654,702
46,46,3363,2660,3103,2160,2522,2865,2966,3315,2963,...,2100,1627,1579,1427,1464,1537,1642,1670,1357,1320
47,47,2115,1824,1977,1540,1724,1654,1329,1610,1742,...,2410,2131,2100,1813,1879,1740,1700,2003,1926,1776
48,48,0,0,0,0,0,0,0,0,0,...,1413,1103,1171,1081,1110,990,1102,1308,1101,1111
49,49,0,0,0,0,0,0,0,0,0,...,1138,753,679,542,692,789,856,966,567,648
50,50,3406,3054,3610,2740,2839,3761,3235,3718,3655,...,1437,1052,981,895,1073,900,1126,1081,906,949
51,51,2748,2284,2605,1945,2243,2200,2273,2142,1903,...,976,660,545,494,758,659,748,916,624,0
52,52,1812,1737,2034,1446,1482,1815,1616,1772,2125,...,1247,1117,1182,1152,894,820,828,932,1086,847
53,53,2055,1906,2365,1515,1767,2125,1975,2367,2440,...,1747,1342,1378,1322,1206,1078,1257,1318,1229,1061
54,54,9386,8075,9488,6726,7006,8101,7225,7792,7827,...,6043,4221,4625,732,0,0,0,0,0,0
55,55,0,0,0,0,852,728,795,719,812,...,6429,2551,2769,3422,2117,1909,1658,1976,6867,1972
56,56,3238,2655,3099,2153,2140,3105,3294,3311,2829,...,2444,1691,1393,1237,1315,1566,1491,1604,1194,1263
57,57,0,0,6586,5493,5233,5987,5827,5413,5213,...,4143,3540,3113,2860,2408,2440,2352,2780,2266,2316
58,58,0,0,3773,2831,2308,2972,3122,2863,2735,...,2519,2360,2359,1710,1378,1554,1689,1738,1319,1446
59,59,2017,1897,2028,1388,1374,1707,1747,2048,2008,...,1293,1206,1199,1054,916,913,992,1214,914,790

In [28]:
matrix

NameError: name 'matrix' is not defined